{% extends "base_body.html" %}
{% load bootstrap i18n %}

{% load gallant_tags %}

{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
    {% trans "Password Reset" as breadcrumb_title %}
    {% custom_breadcrumb request breadcrumb_title %}
{% endblock extra_head %}

{% block section_title %}
    {% trans "Password Reset" %}
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <form method="POST" action="" class="login">

        <p class="title">
            <i>
                {% trans "Forgotten your password? <br/>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </i>
        </p>

        {% csrf_token %}
        {{ password_reset_form|bootstrap }}
        <div class="form-actions">
            <button class="btn btn-default btn-submit" type="submit">{% trans "Reset My Password" %}</button>
        </div>

        <br/>
        <p class="title">
            <i>
                {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
            </i>
        </p>

    </form>

{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
