{% extends "base_body.html" %}
{% load bootstrap i18n %}

{% load gallant_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_head %}
    {% trans "Change Password" as breadcrumb_title %}
    {% custom_breadcrumb request breadcrumb_title %}
{% endblock extra_head %}

{% block section_title %}
    {% trans "Change Password" %}
{% endblock %}

{% block account_nav_change_password %}active{% endblock %}

{% block content %}

    <form method="POST" action="" class="password_change">
        {% csrf_token %}
        {{ password_change_form|bootstrap }}
        <div class="form-actions">
          <button class="btn btn-default btn-submit" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
