{% extends "base_body.html" %}
{% load bootstrap i18n %}

{% load gallant_tags %}

{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
    {% trans "Password Reset" as breadcrumb_title %}
    {% custom_breadcrumb request breadcrumb_title %}
{% endblock extra_head %}

{% block section_title %}
    {% trans "Password Reset" %}
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-10">
            <p>
                You will receive an email shortly containing a link that will allow you to reset your password.<br/><br/>
                If you don't see the email from us in your inbox shortly, check your spam folder.<br/><br/>
                Make sure your spam filters are set up to allow you to receive mail from us.
            </p>

        </div>
    </div>

{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
