 <tr ng-repeat="template in briefTemplates" ng-click="redirectTemplate(template, client)" style="cursor: pointer">
    <td>{{ template.brief.name }}</td>
    <td>{{ template.brief.modified | date:'y-M-d h:m'  }}</td>
    <td ng-click="$event.stopPropagation()">
        <select ng-if="template.languages" class="template_lang form-control" name="language"
                ng-change="languageSelection(template, selectedLanguage)" ng-model="selectedLanguage"
                ng-options="language.code as language.name for language in template.languages">
        </select>
    </td>
</tr>
<tr ng-if="briefs.length == 0">
    <td colspan="4">
        No briefs yet.
    </td>
</tr>