<div class="row" id="question{{ question.index }}">
    <form editable-form name="questionForm">
        <div id="question{{ question.index }}_question" class="data">
            <span>Question{{ question.can_select_multiple ? ' (Can select multiple)' : '' }}:</span>
            <span editable-text="question.question[language]">{{ question.question[language] || 'empty' }}</span>
        </div>
        <div id="question{{ question.index }}_mult" class="data" ng-show="questionForm.$visible">
            <input type="checkbox" ng-model="question.can_select_multiple"> Can select multiple
        </div>

        <span ng-show="questionForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="questionForm.$waiting">
                Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="questionForm.$waiting"
                    ng-click="questionForm.$cancel()">
                Cancel
            </button>
        </span>

        <div class="choices">
            <div ng-repeat="choice in question.choices track by $index">
                <div class="row margin-bottom-10 choice">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">

                        <ng-form editable-form name="innerFormC{{ $index }}">
                            <span editable-text="choice[language]" e-form="innerFormC{{ $index }}">
                                - {{ choice[language] || 'empty' }}
                            </span>
                        </ng-form>
                    </div>
                </div>


                <span ng-hide="innerFormC{{ $index }}.$visible">
                    <button id="question{{ question.index }}_choice{{ $index }}_edit" type="button"
                            class="btn btn-default edit_choice" aria-label="Edit"
                            ng-click="this['innerFormC' + $index].$show()">
                        <span class="glyphicon glyphicon-edit"/>
                    </button>
                    <button id="question{{ question.index }}_choice{{ $index }}_delete" type="button"
                            class="btn btn-default delete_choice" aria-label="Delete"
                            ng-click="removeChoice($index)">
                        <span class="glyphicon glyphicon-trash"/>
                    </button>

                </span>

                <span ng-show="innerFormC{{ $index }}.$visible">
                    <button class="btn btn-primary" ng-disabled="innerFormC{{ $index }}.$waiting"
                            ng-click="this['innerFormC' + $index].$save()">
                        Save
                    </button>
                    <button type="button" class="btn btn-default" ng-disabled="innerFormC{{ $index }}.$waiting"
                            ng-click="this['innerFormC' + $index].$cancel()">
                        Cancel
                    </button>
                </span>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-lg-12">
                <button id="question{{ question.index }}_add_choice" type="button"
                        class="btn btn-default add_choice" ng-click="addChoice()">
                    Add Choice
                </button>
            </div>
        </div>
    </form>

    <div class="buttons" ng-hide="questionForm.$visible">
        <button id="question{{ question.index }}_edit" type="button" class="btn btn-default edit_button"
                aria-label="Edit"
                ng-click="questionForm.$show()">
            <span class="glyphicon glyphicon-edit"/>
        </button>
        <button id="question{{ question.index }}_delete" type="button" class="btn btn-default delete_button"
                aria-label="Delete"
                ng-click="deleteQuestion()()">
            <span class="glyphicon glyphicon-trash"/>
        </button>
    </div>

</div>
