div.page-wrapper {
    min-height: 100%;
    height: 100%;
}

.body.chat-sidebar-container.nav-collapsed header.logo {
}

.body.chat-sidebar-container.nav-collapsed header.logo a {
    color: transparent;
    padding-top: 23px;
    padding-bottom: 3px;
    background: url(/static/img/galant/galant_monogram.png) no-repeat -35px center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}