div.page-wrapper {
    min-height: 100%;
    height: 100%;
}

.body.chat-sidebar-container header.logo {
    color: transparent;
    background: url(/static/img/galant/galant_sidebar_logo.png) no-repeat center -8px;
}

.body.chat-sidebar-container.nav-collapsed header.logo {
    color: transparent;
    padding-top: 23px;
    padding-bottom: 3px;
    background: url(/static/img/galant/galant_monogram.png) no-repeat 0px -8px;
}

/* Charts */

.widget-body canvas {
    margin: auto;
}

.tc-chart-js-legend {
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 60px;
}

.tc-chart-js-legend li {
    list-style-type: none;
    height: 20px;
    font-size: 13px;
}

.tc-chart-js-legend li span {
    height: 20px;
}

.fs-mini.text-muted {
    clear: left;
}

/* End Charts */

/* Kanban */

div.column-title.ng-binding {
    margin-bottom: 15px;
    font-size: 18px;
}

div.kanban-card.ng-scope.as-sortable-item {
    padding: 20px;
    border-radius: 0px;
}

div.receiving-element.ng-pristine.ng-untouched.ng-valid.ng-scope.ng-not-empty {
    min-height: 110px;
}

button.btn.btn-default.btn-alert {
    border: none;
    background: transparent;
    color: #ff0060;
    font-size: 18px;
}

div.kanban-card.ng-scope.as-sortable-item {
    margin-bottom: 20px;
}

.kanban-card-data, .kanban-card-alert {
    padding: 10px;
    padding-top: 0px;
    line-height: 1.2;
}

.kanban-card-data {
    width: 65%;
}

.kanban-card-alert {
    width: 35%;
    padding-right: 20px;
    text-align: right;
}

/* End Kanban */

/* Modals */

.modal-header {
    padding: 20px;
    border-bottom: none;
}

/* End Modals*/