<tr ng-repeat="client in clients" ng-click="redirect(client.id)" style="cursor: pointer">
    <td>{{ client.name }}</td>
    <td>${{ client.money_owed.amount }} {{ client.money_owed.currency }}</td>
    <td>{{ client.last_contacted  | date:'yyyy-MM-dd h:mm a' }}</td>
    <td>{{ client.status.join(', ') }}</td>
    <td ng-click="$event.stopPropagation()" class="centered">
        <button class="btn-default small_edit_button" ng-click="updateLastContacted($index)">Update Contact Date</button>
    </td>
</tr>
<tr ng-show="!clients">
    <td colspan="5">
        <img class="table-loading" src="/static/img/loading.gif">
    </td>
</tr>
<tr ng-show="clients && clients.length == 0">
    <td colspan="5">
        No clients yet.
    </td>
</tr>