<section class="widget">
    <header>
        <h4>
            Work Summary
        </h4>
        <div class="widget-controls">
        </div>
    </header>
    <div class="widget-body" ng-if="work.length > 0">
        <canvas tc-chartjs-doughnut chart-options="work_options" chart-data="work_data" auto-legend></canvas>
        <p class="fs-mini text-muted">
            Shows status summary of all services from client projects according to status.
        </p>
    </div>
    <div class="widget-body" ng-if="work.length == 0">
        <h4>
            Send a Brief
        </h4>
        <p class="fs-mini text-muted">
            Briefs help understand client needs. You can customize briefs with questions and save them as templates. Once a brief is sent, we'll notify your client & let you know when they respond.
        </p>
        <p ng-controller="brPopoverController" ng-init="init(addBriefUrl, language, clientId)">
            <a>
                <button popover-placement="bottom" uib-popover-template="dynamicPopover.templateUrl" type="button" class="btn btn-success btn-sm mt" popover-trigger="focus click">New Brief</button>
            </a>
        </p>
    </div>
</section>