<div class="enclosed" ng-repeat="p in payments | orderBy:['due','paid_on']"">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <p class="small">
                Description
            </p>
            <p>
                {{ p.description }} {{ p.status }}
            </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 action_box">
            <p class="small">
                Due Date
            </p>
            <p>
                {{ p.due | date:"MMM dd, yyyy"}}
            </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 action_box">
            <p class="small">
                Amount
            </p>
            <p>
                {{ p.amount.currency }} ${{ p.amount.amount }}
            </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 action_box">
            <p class="small">
                Paid
            </p>
            <p>
                {{ p.paid_on === null ? "Not Paid Yet" : p.paid_on | date:"MMM dd, yyyy" }}
            </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 action_box">
            <button id="section_edit" type="button" class="btn btn-default edit_button" aria-label="Edit" ng-click="openEditModal()(p.id)">
                <span class="glyphicon glyphicon-edit"/>
            </button>
            <button id="section_delete" type="button" class="btn btn-default delete_button" aria-label="Edit" ng-click="openEditModal()">
                <span class="glyphicon glyphicon-trash"/>
            </button>
        </div>
    </div>
</div>
