<section class="widget">
    <header>
        <h4>
            Money Summary
        </h4>
        <div class="widget-controls">
        </div>
    </header>
    <div class="widget-body" ng-if="payments.length > 0">
        <canvas tc-chartjs-doughnut chart-options="money_options" chart-data="money_data" auto-legend></canvas>
        <p class="fs-mini text-muted">
            Shows amount of money from all client payments according to status.
        </p>
    </div>
    <div class="widget-body" ng-if="payments.length == 0">
        <h4>
            Send a Quote
        </h4>
        <p class="fs-mini text-muted">
            Build a custom quote for your client. Once your quote is sent, we'll let you know when they access it, and you'll be able to edit it to suit both your client and your needs.
        </p>
        <p ng-controller="qtPopoverController" ng-init="init(addQuoteUrl, language, clientId)">
            <a>
                <button popover-placement="bottom" uib-popover-template="dynamicPopover.templateUrl" type="button" class="btn btn-success btn-sm mt" popover-trigger="outsideClick">New Quote</button>
            </a>
        </p>
    </div>
</section>