<section class="widget" ng-repeat="p in payments | orderBy:['-paid_on','due']"">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <p class="small">
                Description
            </p>
            <p>
                {{ p.description }} {{ p.status }}
            </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 action_box">
            <p class="small">
                Due Date
            </p>
            <p>
                {{ p.due | date:"MMM dd, yyyy"}}
            </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 action_box">
            <p class="small">
                Amount
            </p>
            <p>
                {{ p.amount.currency }} ${{ p.amount.amount }}
            </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 action_box">
            <p class="small">
                Paid
            </p>
            <p ng-class="p.paid_on === null ? 'pending' : 'done'">
                {{ p.paid_on === null ? "Not Paid Yet" : p.paid_on | date:"MMM dd, yyyy" }}
            </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 action_box">
            <button id="section_edit" type="button" class="btn btn-warning edit_button btn-add btn-list" aria-label="Edit" ng-click="openEditModal()(p.id)">
                <span class="glyphicon glyphicon-edit"/>
            </button>
            <button id="section_delete" type="button" class="btn btn-danger delete_button btn-add btn-list" aria-label="Edit" ng-click="deletePayment(p)" ng-confirm-click="Are you sure?">
                <span class="glyphicon glyphicon-trash"/>
            </button>
        </div>
    </div>
</section>
