<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 position-relative">
    <div class="enclosed chart_box dashboard">
        <h2 class="chart_title">
            Clients
            <span class="pull-right glyphicon glyphicon-question-sign help-tooltip" uib-tooltip="Shows how many people approached you, how many of those were quoted and how many of the quoted became clients." tooltip-placement="top-right"></span>
        </h2>
        <div class="col-lg-11">
            <canvas tc-chartjs-polararea chart-options="work_polar_chart_options" chart-data="work_polar_chart_data"
                    auto-legend ng-show="potential_clients > 0 || quoted_clients > 0 || project_underway.length > 0"
                    ng-click="clientChartClicked($event)" class="clickable">
            </canvas>
            <div ng-hide="potential_clients > 0 || quoted_clients > 0 || project_underway.length > 0" class="dashbard-chart-msg">
                <h2 class="section_title">
                    This chart will show how many people approached you, how many of those were quoted and how many of the quoted became clients.
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 position-relative">
    <div class="enclosed chart_box dashboard">
        <h2 class="chart_title">
            Deliverables
            <span class="pull-right glyphicon glyphicon-question-sign help-tooltip" uib-tooltip="From all projects you're working on, shows how many deliverables are being worked on, how many are overdue and how many have been completed.." tooltip-placement="top-right"></span>
        </h2>
        <div class="col-lg-11">
            <canvas tc-chartjs-doughnut chart-options="work_doughnut_chart_options"
                    chart-data="work_doughnut_chart_data" auto-legend
                    ng-show="service_on_hold > 0 || service_pending_assignment > 0 || service_active > 0 || service_overdue > 0 || service_completed > 0"
                    ng-click="workChartClicked($event)" class="clickable"></canvas>
            <div ng-hide="service_on_hold > 0 || service_pending_assignment > 0 || service_active > 0 || service_overdue > 0 || service_completed > 0" class="dashbard-chart-msg">
                <h2 class="section_title">
                    This chart will show deliverables from projects you're working on to let you know how many are being worked on, how many are overdue and how many have been completed.
                </h2>
            </div>
        </div>
    </div>
</div>
