<div class="row form-group">
    <div class="col-lg-3">
        <label class="ng-binding">Name</label>
    </div>
    <div class="col-lg-9">
        <input type="text" placeholder="Name" class="form-control"
               ng-model="service.name[language]"
               id="id_name" name="name" required>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-3">
        <label class="ng-binding">Description</label>
    </div>
    <div class="col-lg-9">
        <input type="text" placeholder="Description" class="form-control"
               ng-model="service.description[language]"
               id="id_description" name="description">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-3">
        <label>Cost:</label>
    </div>
    <div class="col-lg-3">
        <input type="text" placeholder="$" class="form-control" ng-model="service.cost.amount"
               id="id_cost" name="cost">
    </div>
    <div class="col-lg-3">
        <label>Time Estimate:</label>
    </div>
    <div class="col-lg-3">
        <input type="text" placeholder="# Hours" class="form-control" ng-model="service.time"
               id="id_time" name="time">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <br/>
        <button class="btn btn-success pull-right button-inline" ng-click="saveDeliverable(service)">
            Save
        </button>
        <br/>
    </div>
</div>