<span class="buttons" ng-hide="form.$visible">
    <button id="edit_brief" type="button" class="btn btn-default edit_button" aria-label="Edit"
            ng-click="form.$show()" ng-hide="hideEdit">
        <span class="glyphicon glyphicon-edit"/>
    </button>
    <button id="delete_brief" type="button" class="btn btn-default delete_button" aria-label="Delete"
            ng-click="deleteObject()('brief')">
        <span class="glyphicon glyphicon-trash"/>
    </button>
</span>
<span ng-show="form.$visible">
    <button id="save_edit" type="submit" class="btn btn-primary" ng-disabled="form.$waiting">
        Save
    </button>
    <button id="cancel_edit" type="button" class="btn btn-default" ng-disabled="form.$waiting"
            ng-click="form.$cancel()">
        Cancel
    </button>
</span>