<form ng-controller="glFormController" ng-init="init(language, null, projectSaved)" novalidate>
    <div class="row form-group">
        <div class="col-lg-3">
            <label>Project Name</label>
        </div>
        <div class="col-lg-9">
            <input type="text" placeholder="Project Title" ng-model="project.name" class="form-control" id="id_name" name="name" required>
            <div gl-form-errors error-field="project.errors.name"></div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-3">
            <label>Client</label>
        </div>
        <div class="col-lg-9">
            <select class=" form-control" id="id_status" name="client" ng-model="project.client"
                    ng-disabled="!clients" ng-options="client.id as client.name for client in clients">
                <option value="" style="display: none;">Select Client...</option>
            </select>
        </div>
    </div>

    <div gl-multi-dropdown elements="project.quotes" available-elements="quotes"
         element-display-name="Quote"></div>

    <div class="row form-group">
        <div class="col-lg-3">
            <label>Status</label>
        </div>
        <div class="col-lg-9">
            <select class=" form-control" id="id_status" name="status" ng-model="project.status"
                    ng-options="key as val for (key, val) in statusChoices">
                <option value="" style="display: none;">Select Status...</option>
            </select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-12">
            <br/>
            <button class="btn btn-default btn-submit pull-right button-inline" ng-click="submitForm()">
                Save
            </button>
            <br/>
        </div>
    </div>
</form>