/* CALENDAR */

#calendar_container {
    margin-top: 30px;
}

#calendr {
    padding-right: 10px;
    padding-left: 10px;
}

* {
    outline: none;
}

.alert h4 {
    font-weight: 100;
}

#id_date {
    border: 1px solid #666666;
    height: 36px;
    font-size: 14px;
}

.calendar_container {
    position: relative;
    z-index: 1;
}

.calendar_container .fc-resource-area {
    width: 20%;
}

.calendar_container .fc-toolbar {
    background: #efefef;
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px;
}

.calendar_container .fc-timeline {
    padding: 0px;
}

.calendar_container .fc-toolbar h2 {
    font-weight: 100;
    font-size: 22px;
    padding-top: 4px;
}

.calendar_container .fc-cell-text {
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
}

.calendar_container .fc-resource-area .fc-cell-content, .fc-timeline .fc-cell-text {
    font-size: 14px;
}

.calendar_container .fc-widget-header {
    background: #efefef;
}

#form label.control-label, .form-group label.control-label {
    font-size: 12px;
}

div.btn-group.date-buttons {
    width: 100%;
}

button.btn.btn-default {
    margin-top: 0px;
}

.date-buttons button.btn.btn-default {
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 1200px) {
    .col-lg-pull-right {
        text-align: right;
        padding-right: 25px;
    }
}

@media (max-width: 1000px) {
    .calendar_container .fc-resource-area {
        width: 40%;
    }
}

.calendar_container .fc-event {
    font-size: 12px;
    font-weight: 100;
    border: none;
    background: #999999;
    padding: 5px;
}

.calendar_container .fc-time {
    display: none;
}

.form-group {
    margin-bottom: 0px;
}

.input-group-btn .btn {
    height: 36px;
}

.popup-calendr ul.dropdown-menu.ng-pristine.ng-untouched.ng-valid.ng-scope.ng-valid-date-disabled {
    display: none;
    border-radius: 0px;
}

.popup-calendr .btn.btn-default {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

.popup-calendr .dropdown-menu {
    padding: 10px;
}

.popup-calendr .ng-binding {
    font-weight: 100;
}

#popup-calendr .dropdown-menu ul.dropdown-menu li.ng-scope {
    padding: 10px 0px 0px;
}

/* END CALENDAR */

/* CALENDAR MODAL */

#calendar_modal {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

#calendar_modal .form-group select {
    margin-bottom: 10px;
}

#calendar_modal .form-group label {
    margin-top: 8px;
}

#calendar_modal .form-group input {
    font-size: 14px;
}

#calendar_modal h3 {
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 800;
}

#calendar_modal button.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 24px;
}

#calendar_modal .form-group .btn.btn-submit {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding-bottom: 6px;
}

#calendar_modal .form-group .btn.btn-add {
    font-size: 14px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
}

#calendar_modal .form-group .btn.mini-calendar {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    height: 34px;
    padding-bottom: 4px;
}

#calendar_modal .multidropdown_elements .col-lg-8 {
    padding-right: 10px;
    width: 66%;
}

#calendar_modal .multidropdown_elements .col-lg-1 {
    padding-left: 0px;
}

/* END CALENDAR MODAL */

/* Color Scheme */

div#calendar_container {
    margin-top: 0px;
}

div#calendar_container div.fc-toolbar {
    margin-bottom: 25px;
}

div.btn-group.date-buttons {
    width: 580px;
}

div.btn-group.date-buttons button {
    border: none;
    border-bottom: 1px solid #d0d0d0;
    text-align: center;
    font-family: "Courier New";
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0px;
}

.date-buttons button.btn.btn-default {
    width: auto;
    margin-right: 20px;
    width: 170px;
    color: #999999;
}

label.control-label {
    display: none;
}

p#popup-calendr * {
    border-color: #d0d0d0;
}

#id_date {
    font-size: 13px;
    font-family: "Courier New";
}

div.row.calendar_container {
    margin-top: 18px;
}

.calendar_container .fc-toolbar {
    background: transparent;
    border-bottom: 1px solid #d0d0d0;
}

.fc-toolbar h2 {
    font-family: "Courier New";
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #666666;
    padding-left: 10px;
}

button.fc-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    color: #666666;
}

td.fc-divider.fc-col-resizer.fc-widget-header {
    width: 0px;
}

.fc-timeline .fc-head .fc-cell-content {
    font-size: 13px;
    font-family: "Courier New";
    letter-spacing: 0px;
    word-spacing: -1px;

}

.calendar_container .fc-widget-header, .calendar_container .fc-widget-content {
    background: transparent;
    height: 45px;
}

.calendar_container .fc-body .fc-resource-area .fc-cell-content {
    padding-top: 13px;
    font-weight: 100;
    padding-left: 20px;
    font-family: "Courier New";
}

td.fc-widget-header:first-child:first-child th.fc-widget-header:first-child div.fc-cell-content {
    padding-left: 20px;
}

div.fc-cell-content {
    text-overflow: ellipsis;
    white-space: pre-line;
}

.fc-title {
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 400;
}

a.fc-timeline-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable {
    background-color: #00d4ff;
}

button.btn.btn-sm.btn-info.uib-datepicker-current {
    background-color: #00d4ff;
    margin-right: 10px;
    border: none;
}

/* End Color Scheme */