/* CALENDAR */

#calendar_container {
    margin-top: 30px;
}

* { outline: none; }

.alert-success {
    padding: 10px;
    margin-bottom: 25px;
}

.alert-success h4 {
    font-weight: 100;
}

#id_date {
    border: 1px solid #666666;
    height: 36px;
    font-size: 14px;
}

.calendar_container {
    position: relative;
    z-index: 1;
}

.calendar_container .fc-resource-area {
    width: 20%;
}

.calendar_container .fc-toolbar {
    background: #efefef;
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px;
}

.calendar_container .fc-timeline {
    padding: 0px;
}

.calendar_container .fc-toolbar h2 {
    font-weight: 100;
    font-size: 22px;
    padding-top: 4px;
}

.calendar_container .fc-cell-text {
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
}

.calendar_container .fc-resource-area .fc-cell-content, .fc-timeline .fc-cell-text {
    font-size: 14px;
}

.calendar_container .fc-widget-header {
    background: #efefef;
}

#form label.control-label, .form-group label.control-label {
    font-size: 12px;
}

div.btn-group.date-buttons {
    width: 100%;
}

button.btn.btn-default {
    margin-top: 0px;
}

.date-buttons button.btn.btn-default {
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 1200px) {
    .col-lg-pull-right {
        text-align: right;
        padding-right: 25px;
    }
}

@media (max-width: 1000px) {
    .calendar_container .fc-resource-area {
        width: 40%;
    }
}

.calendar_container .fc-event {
    font-size: 12px;
    font-weight: 100;
    border: none;
    background: #999999;
    padding: 5px;
}

.calendar_container .fc-time {
    display: none;
}

.form-group {
    margin-bottom: 0px;
}

.input-group-btn .btn {
    height: 36px;
}

.popup-calendr ul.dropdown-menu.ng-pristine.ng-untouched.ng-valid.ng-scope.ng-valid-date-disabled {
    display:none;
    border-radius: 0px;
}

.popup-calendr .btn.btn-default {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

.popup-calendr .dropdown-menu {
    padding: 10px;
}

.popup-calendr .ng-binding {
    font-weight: 100;
}

#popup-calendr .dropdown-menu ul.dropdown-menu li.ng-scope {
    padding:10px 0px 0px;
}

/* END CALENDAR */

/* CALENDAR MODAL */

#calendar_modal {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

#calendar_modal .form-group select {
    margin-bottom: 10px;
}

#calendar_modal .form-group label {
    margin-top: 8px;
}

#calendar_modal .form-group input {
    font-size: 14px;
}

#calendar_modal h3 {
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 800;
}

#calendar_modal button.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 24px;
}

#calendar_modal .form-group .btn {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

#calendar_modal .well {
    margin-top: 10px;
    margin-bottom: 0px;
}

#calendar_modal .margin-top-10 {
    margin-top: 10px;
}

#calendar_modal .margin-left-10 {
    margin-left: 10px;
}

#calendar_modal span.date {
    font-size: 12px;
    cursor: pointer;
}

#calendar_modal .well p {
    margin-bottom: 0px;
    line-height: 1.2;
    cursor: pointer;
}

#calendar_modal .well a {
    color: #333333;
    cursor: pointer;
}

#calendar_modal .well a:hover {
    text-decoration: none;
}

#calendar_modal .services .service_button {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #666666;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
}

#calendar_modal .services .col-lg-8 {
    padding-right: 10px;
}

#calendar_modal .services .col-lg-1 {
    padding-left: 0px;
}

.modal-backdrop.in {
    opacity: 0.1;
}

/* END CALENDAR MODAL */