/* PDF Rendering */

div.page-wrapper {
    height: 270mm;
    overflow: hidden;
    position: relative;
}

/* End PDF Rendering */

/* Header */

.row.header_top {
    padding-top: 65px;
    padding-bottom: 5px;
    margin-bottom: 14px;
    border-bottom: 1px solid #bebec5;
    position: relative;
}

.row.header_top p {
    font-size: 14px;
    line-height: 1.4;
    position: absolute;
    bottom: 0px;
    word-spacing: 1px;
    font-weight: 200;
}

.row.header_bottom {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #bebec5;
}

.row.header_bottom p {
    font-weight: 200;
    font-size: 14px;
    line-height: 1.4;
    word-spacing: 1px;
}

/* End Header */

/* Footer */

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #666666;
    border-bottom-style: dashed;
}

footer .row {
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
}

footer .row.content_footer {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #bebec5;
    margin-top:  -16px;
}

footer p {
    font-size: 13px;
    line-height: 1.4;
    position: absolute;
    bottom: 0px;
    word-spacing: 1px;
    font-weight: 200;
}

/* End Footer */

/* Content */

div.app_title h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.0;
    margin-top: 0px;
    margin-bottom: 30px;
}

div.section_content p {
    font-weight: 200;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 25px;
    word-spacing: 2px;
}


/* End Content */
