/* PDF Rendering */

body {
    zoom: 1.00; /*workaround for phantomJS2 rendering pages too large*/
}

/* End PDF Rendering */

/* Header */

.row.header_top {
    padding-top: 70px;
    padding-bottom: 5px;
    margin-bottom: 12px;
    border-bottom: 1px solid #bebec5;
    position: relative;
}

.row.header_top p {
    font-size: 15px;
    line-height: 1.3;
    position: absolute;
    bottom: 0px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 200;
}

.row.header_bottom {
    padding-bottom: 100px;
    margin-bottom: 25px;
    border-bottom: 1px solid #bebec5;
}

.row.header_bottom p {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.4;
    word-spacing: 1px;
}

/* End Header */

/* Footer */

footer .row {
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #bebec5;
    margin-top:  -12px;
}

footer p {
    font-size: 15px;
    line-height: 1.3;
    position: absolute;
    bottom: 0px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 200;
}

/* End Footer */

/* Content */

div.section_title h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.0;
    margin-top: 0px;
    margin-bottom: 30px;
}

div.section_content p {
    font-weight: 200;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}


/* End Content */