{% extends "base_body.html" %} 
{% load i18n staticfiles %} 
{% load djangular_tags %} 

{% block css %}
<link href='{% static "css/fullcalendar-ng/fullcalendar.min.css" %}' rel='stylesheet' />
<link href='{% static "css/fullcalendar-ng/scheduler.min.css" %}' rel='stylesheet' /> 
<link href='{% static "css/angular-aside.min.css" %}' rel='stylesheet' /> 

<style>
select {
    max-width: 120px;
}
.ng-aside {
    pointer-events:none;
}
.modal-dialog{
    pointer-events:auto;
}

</style>
{% endblock %} 

{% block scripts %} 
{{ block.super }}
<script src="{% static "js/angular.min.js" %}"></script>
<script src="{% static "js/angular-resource.min.js" %}"></script>
<script src="{% static "js/angular-aside.min.js" %}"></script>
<script src="{% static "js/fullcalendar-ng/ui-bootstrap-tpls-0.14.0.js" %}"></script>
<script src="{% static "djangular/js/django-angular.min.js" %}"></script>
<script src="{% static "js/fullcalendar-ng/moment.min.js" %}"></script>
<script src="{% static "js/fullcalendar-ng/fullcalendar.min.js" %}"></script>
<script src="{% static "js/fullcalendar-ng/scheduler.js" %}"></script>
<script src="{% static "js/fullcalendar-ng/calendar.js" %}"></script>
<script src="{% static "calendr/js/apps/app.js" %}"></script>
<script src="{% static "calendr/js/services/services.js" %}"></script>
<script src="{% static "calendr/js/directives/directives.js" %}"></script>
<script src="{% static "calendr/js/controllers/controllers.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
var asideTemplateUrl            = "{% static '/static/calendr/html/aside.html' %}";
var taskModalUrl                = "{% static '/static/calendr/html/calendar_modal.html' %}";
var currentUserId               = "{{user.id}}";
</script>
{% endblock %} 

{% block extra_head %} 
{{ block.super }}
<div id="add_task" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="section_title">Add Task</h2>
                <p>Add a new task.</p>
            </div>
            <div class="modal-body" style="height: 500px; overflow: auto;">
                <button id="add_task_button" type="button" class="btn btn-default sidebar">Add
                </button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endblock %} 

{% block sub_header %} 
{% endblock %} 

{% block content_div %} 
{% verbatim %}
<div ng-app="gallant" id="calendar_container" class="">
    <section id="directives-calendar" ng-controller="CalendrControl">
        <div class="page-header">
            <h1>Calendar</h1>
        </div>
        <div class="row">
            <div class="col-md-12" data-ng-init="renderCalender('myCalendar1');">
                <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                    <h4>{{alertMessage}}</h4>
                </div>
                <select ng-change="projectChanged(event.projectId)" ng-model="event.projectId">
                    <option value="">------</option>
                    <option ng-selected="{{project.id == event.projectId}}" ng-repeat="project in projects" value="{{project.id}}"> {{project.name}}
                    </option>
                </select>
                <div>
                    <div class="btn-group">
                        <button class="btn btn-success" ng-click="changeView('timelineDay', 'myCalendar1')">TimeLine day</button>
                        <button class="btn btn-success" ng-click="changeView('timelineWeek', 'myCalendar1')">TimeLine week</button>
                        <button class="btn btn-success" ng-click="changeView('timelineYear', 'myCalendar1')">TimeLine year</button>
                    </div>
                </div>
                <button class="btn btn-success" ng-click="openAsideModal()">Filter Task</button>

                <div class="col-md-12" class="calendar" ng-model="eventSources" resources="eventResources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>              
            </div>
        </div>
    </section>
</div>

    

{% endverbatim %} 
{% endblock %} 

{% block footer_div %} 
{% endblock %} 

{% block extra_body %} 
{% endblock %}
