{% extends "base_body.html" %}
{% load i18n staticfiles %}
{% load djng_tags %}

{% block css %}
    <link href='{% static "/static/calendr/css/calendar.css" %}' rel='stylesheet'/>
    <link href='{% static "css/fullcalendar.min.css" %}' rel='stylesheet'/>
    <link href='{% static "css/scheduler.min.css" %}' rel='stylesheet'/>
    <link rel="stylesheet" href="{% static "css/ng-sortable.style.min.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable.min.css" %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-animate.js" %}"></script>
    <script src="{% static "js/angular-resource.min.js" %}"></script>
    <script src="{% static "js/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>
    <script src="{% static "js/moment.min.js" %}"></script>
    <script src="{% static "js/fullcalendar.min.js" %}"></script>
    <script src="{% static "js/scheduler.js" %}"></script>
    <script src="{% static "js/calendar.js" %}"></script>
    <script src="{% static "js/smart-table.js" %}"></script>
    <script src="{% static "js/ng-sortable.js" %}"></script>
    {% if DEBUG %}
        <script src="{% static "js/gallant.js" %}"></script>
        <script src="{% static "quotes/js/services/qtServices.js" %}"></script>
        <script src="{% static "js/kanban.js" %}"></script>
        <script src="{% static "js/calendr.js" %}"></script>
    {% else %}
        <script src="{% static "js/all.min.js" %}"></script>
    {% endif %}
{% endblock %}

{% block extra_wrapper_attrs %} ng-app="gallant" {% endblock %}

{% block content_div %}

    <div class="container" id="projects_container">

        <uib-tabset active="active">
            <uib-tab index="1" heading="Calendar">
                <div id="calendr" ng-controller="clCalendrController"
                     ng-init="init({{ user.id }}, {{ user.settings.calendr_users|yesno:"true,false" }})">
                    <div id="calendar_container">

                        <section id="directives-calendar">

                            <div gl-alerts></div>

                            <div class="row">

                                <div class="form-group col-lg-4">
                                    <label class="control-label">View</label>
                                    <br/>

                                    <div class="btn-group date-buttons">
                                        <button id="timelineWeek" class="btn btn-default"
                                                ng-click="changeView('timelineWeek', 'myCalendar1')">Week
                                        </button>
                                        <button id="timelineMonth" class="btn btn-default"
                                                ng-click="changeView('timelineMonth', 'myCalendar1')">Month
                                        </button>
                                        <button id="timelineThreeMonths" class="btn btn-default"
                                                ng-click="changeView('timelineThreeMonths', 'myCalendar1')">3 Months
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group col-lg-offset-4 col-lg-4 col-lg-pull-right">
                                    <label class="control-label">&nbsp;</label>
                                    <br/>

                                    <p class="input-group popup-calendr" id="popup-calendr">
                                        <input id="id_date" class="form-control" type="text" uib-datepicker-popup="MM.dd.yyyy"
                                               ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate"
                                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                               ng-required="true" close-text="Close" ng-change="gotoDate(dt)"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                                    </p>

                                </div>
                            </div>

                            <div class="row calendar_container">
                                <div class="col-lg-12" class="calendar" ng-model="eventSources" resources="eventResources"
                                     calendar="myCalendar1" ui-calendar="uiConfig.calendar">
                                </div>
                            </div>

                        </section>
                    </div>
                    <br/>
                    <br/>
                    <div gl-add-modal open-fn="editTask" title="Task" modal-instance="modalInstance">
                        <div cl-task-add on-success="taskSaved" task="object"
                             assignee="{{ user.id }}" projects="projects" users="users"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-default btn-add pull-right"
                                    ng-click="editTask()">
                                <span class="glyphicon glyphicon-plus"></span> Add Task
                            </button>
                            <button class="btn btn-default btn-add pull-right" id="show_task_board"
                                    ng-click="showList=false">
                                <span class="glyphicon glyphicon-th"></span>
                            </button>
                            <button class="btn btn-default btn-add pull-right" id="show_task_list"
                                    ng-click="showList=true">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </button>
                        </div>
                    </div>
                    <br>
                    <div ng-show="!showList">
                        <div ng-include src="'/static/calendr/html/cl_task_board.html'">
                        </div>
                    </div>
                    <div class="row" ng-show="showList">
                        <div cl-task-list tasks="tasks" tasks-loaded="tasksLoaded"
                             assignee="{{ user.id }}" edit-task-fn="editFCTask"></div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="0" heading="Projects">
                <div gl-project-list projects="projects"></div>
            </uib-tab>
        </uib-tabset>

    </div>

{% endblock %}

{% block footer_div %}
{% endblock %}

{% block extra_body %}
{% endblock %}