{% extends "base_body.html" %}
{% load i18n staticfiles %}
{% load djng_tags %}

{% block css %}
    <link href='{% static "/static/calendr/css/calendar.css" %}' rel='stylesheet'/>
    <link href='{% static "css/fullcalendar.min.css" %}' rel='stylesheet'/>
    <link href='{% static "css/scheduler.min.css" %}' rel='stylesheet'/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.min.js" %}"></script>
    <script src="{% static "js/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>
    <script src="{% static "js/moment.min.js" %}"></script>
    <script src="{% static "js/fullcalendar.min.js" %}"></script>
    <script src="{% static "js/scheduler.js" %}"></script>
    <script src="{% static "js/calendar.js" %}"></script>
    <script src="{% static "js/gallant.js" %}"></script>
    <script src="{% static "js/smart-table.js" %}"></script>
    <script src="{% static "quotes/js/services/qtServices.js" %}"></script>
    <script src="{% static "js/calendr.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
{% endblock %}

{% block extra_wrapper_attrs %} ng-app="gallant" {% endblock %}

{% block extra_head %}
    {{ block.super }}
    <div id="add_task" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="section_title">Add Task</h2>

                    <p>Add a new task.</p>
                </div>
                <div class="modal-body" style="height: 500px; overflow: auto;">
                    <button id="add_task_button" type="button" class="btn btn-default sidebar">Add
                    </button>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sub_header %}
{% endblock %}

{% block content_div %}
    <div id="calendr" ng-controller="clCalendrController" ng-init="init({{ user.id }})">
        <div id="calendar_container">
            <section id="directives-calendar">
                <div class="row">
                    <div class="col-lg-12" data-ng-init="renderCalendar('myCalendar1');">
                        <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                            <h4>{{ alertMessage }}</h4>
                        </div>
                    </div>
                </div>
                <div gl-alerts></div>

                <div class="row">

                    <div class="form-group col-lg-4">
                        <label class="control-label">View</label>
                        <br/>

                        <div class="btn-group date-buttons">
                            <button id="timelineWeek" class="btn btn-default" ng-click="changeView('timelineWeek', 'myCalendar1')">Week</button>
                            <button id="timelineMonth" class="btn btn-default" ng-click="changeView('timelineMonth', 'myCalendar1')">Month</button>
                            <button id="timelineThreeMonths" class="btn btn-default" ng-click="changeView('timelineThreeMonths', 'myCalendar1')">3 Months</button>
                        </div>
                    </div>

                    <div class="form-group col-lg-offset-4 col-lg-4 col-lg-pull-right">
                        <label class="control-label">&nbsp;</label>
                        <br/>

                        <p class="input-group popup-calendr" id="popup-calendr">
                            <input id="id_date" class="form-control" type="date" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="gotoDate(dt)"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="row calendar_container">
                    <div class="col-lg-12" class="calendar" ng-model="eventSources" resources="eventResources" calendar="myCalendar1" ui-calendar="uiConfig.calendar">
                    </div>
                </div>

            </section>
        </div>
        <br>
        <uib-tabset active="active">
            <uib-tab index="0" heading="Projects">
                <div gl-project-list redirect-url="{% url 'project_detail' %}"></div>
            </uib-tab>
            <uib-tab index="1" heading="My Tasks">
                <div cl-task-list tasks="events" assignee="{{ user.id }}" add-task-fn="openEditModal"></div>
            </uib-tab>
        </uib-tabset>
    </div>
{% endblock %}

{% block footer_div %}
{% endblock %}

{% block extra_body %}
{% endblock %}