<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
    ng-click="cancel()"><h3>&times;</h3></button>
    <h3>Edit Task</h3>
</div>
<form ng-submit="submit(event)">
    <div class="modal-body">
        <label>Project</label>
        <select ng-model="event.projectId">
            <option ng-selected="{{project.id == event.projectId}}" ng-repeat="project in projects" value="{{project.id}}"> {{project.name}}
            </option>
        </select>
        <br>
        <label>Daily Estimate</label>
        <input type="number" ng-model="event.daily_estimate" /><br>       
        <label>Assignee</label>
        <select ng-model="event.resourceId">
            <option ng-selected="{{resource.id == event.resourceId}}" ng-repeat="resource in resources" value="{{resource.id}}"> {{resource.title}}
            </option>
        </select>
        <br>
        <label>Title</label>
        <input type="text" ng-model="event.title" />
        <br>
        <label>Start</label>
        <input type="text" ng-model="event.start" />
        <br>
        <label>End</label>
        <input type="text" ng-model="event.end" />
        <br>
        <button type="button" class="delete" ng-click="deleteTask(event)">Delete Task</button>
        <br>
        <input id="submitTask" type="submit" class="btn primary-btn" value="Submit" />
    </div>
</form>
