<div class="modal-header" id="calendar_modal">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <h2 class="section_title">Add Task</h2>
</div>
<div class="container" id="calendar_modal">

    <form ng-submit="submit(event)" class="form">
        <div class="modal-body">
            <div class="row form-group">
                <div class="col-lg-3">
                    <label>Task Title</label>
                </div>
                <div class="col-lg-9">
                    <input type="text" placeholder="Task Title" ng-model="event.title" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3">
                    <label>Project</label>
                </div>
                <div class="col-lg-9">
                    <select ng-model="event.projectId" class="form-control" ng-change="projectChanged(event.projectId)"
                            ng-options="project.id as project.name for project in projects">
                        <option value="" style="display: none;">Select Project...</option>
                    </select>
                </div>
            </div>
            <div gl-multi-dropdown elements="event.services" available-elements="availableServices"
                 element-display-name="Service"></div>
            <div class="row form-group">
                <div class="col-lg-3">
                    <label>Assignee</label>
                </div>
                <div class="col-lg-9">
                    <select ng-model="event.resourceId" class="form-control">
                        <option ng-selected="{{ resource.id == event.resourceId }}" ng-repeat="resource in resources" value="{{ resource.id }}"> {{ resource.title }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3">
                    <label>Task Start</label>
                </div>
                <div class="col-lg-9">
                    <input type="text" ng-model="event.start" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3">
                    <label>Task End</label>
                </div>
                <div class="col-lg-9">
                    <input type="text" ng-model="event.end" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3">
                    <label>Daily Hr Estimate</label>
                </div>
                <div class="col-lg-9">
                    <input type="number" ng-model="event.daily_estimate" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12">
                    <button type="button" class="delete btn btn-default pull-right" ng-click="deleteTask(event)">Delete Task</button>
                    <input id="submitTask" type="submit" class="btn btn-default pull-right" value="Submit"/>
                </div>
            </div>
        </div>
    </form>

</div>
