{% extends "base_sidebar.html" %}
{% load bootstrap i18n %}

{% block section_title %}
    {% trans title %}
{% endblock %}

{% block sidebar %}
    {% if client %}
    <a href="{% url 'client_detail' client.id %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Back to Client" %}
        </button>
    </a>

    <a href="{% url 'edit_brief' brief_type="client" type_id=client.id pk=object.id %}">
        <button type="button" class="btn btn-default sidebar" id="edit_client_brief">
            {% trans "Edit Brief" %}
        </button>
    </a>
    {% endif %}
{% endblock %}

{% block center_content %}

    <h2 class="section_title">{% trans "Data" %}</h2>

    <p id="title" class="data">{% trans "Title" %}: {{ object.title.get_text }}</p>
    <p id="status" class="data">{% trans "Status" %}: {{ object.get_status_display }}</p>
    {% if answer_set %}
    <p id="answered" class="text-success"><b>{% trans "Answered on" %} {{ answer_set.created }}</b></p>
    {% endif %}

    <br/>
    <h2 class="section_title">
        Questions
    </h2>

    <hr>

    {% if answer_set %}
        {% for answer in answer_set.answers.all %}
            {% with question=answer.question %}
            <div id="question_{{ question.index }}" class="question">
                {{ forloop.counter }} ) {{ question.question.get_text }}
                <div class="multiquestion_choices">
                {% for choice in question.choices %}
                    {% if forloop.counter0|slugify in answer.choices %}
                    <div class="text-success"><b>
                        — {{ choice.get_text }}
                    </b></div>
                    {% else %}
                    <div>
                        — {{ choice.get_text }}
                    </div>
                    {% endif %}
                {% empty %}
                    <div class="text-success"><b>
                        {{ answer.answer }}
                    </b></div>
                {% endfor %}
                </div>
            </div>

            <hr>
            {% endwith %}
        {% endfor %}
    {% else %}
        {% for question in object.questions.all %}
            <div id="question_{{ question.index }}" class="question">
                {{ forloop.counter }} ) {{ question.question.get_text }}
                <div class="multiquestion_choices">
                {% for choice in question.choices %}
                    <div>
                        — {{ choice.get_text }}
                    </div>
                {% endfor %}
                </div>
            </div>

            <hr>

        {% endfor %}
    {% endif %}

{% endblock %}