{% extends "base_sidebar_enclosed.html" %}
{% load bootstrap i18n %}

{% block section_title %}
    {% trans title %}
{% endblock %}

{% block sidebar %}
    {% if object.client %}
        <form method="post">
            {% csrf_token %}
            <a>
                <button type="submit" class="btn btn-default sidebar" id="send_brief">
                    {% trans "Send Brief" %}
                </button>
            </a>
        </form>
    {% endif %}
    <a href="{% url 'add_brief_template' brief_id=object.id %}">
        <button type="button" class="btn btn-default sidebar" title="Create template from this brief.">
            {% trans "Use as Template" %}
        </button>
    </a>
{% endblock %}

{% block center_content %}

    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
            <h2 class="section_title">{{ object.client }}</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 action_box">
            <a href="{% url 'edit_brief' object.id %}{% if request.GET.urlencode %}?{% endif %}{{ request.GET.urlencode }}" class="edit_button" title="{% trans "Edit" %}">
                <button id="section_edit" type="button" class="btn btn-default edit_button" aria-label="Edit">
                    <span class="glyphicon glyphicon-edit"/>
                </button>
            </a>
        </div>
    </div>

    <p id="title" class="data">{% trans "Title" %}: {{ object.title.get_text }}</p>
    <p id="status" class="data">{% trans "Status" %}: {{ object.get_status_display }}</p>
    {% if object.status == "2" %}
        <p id="public_link" class="data">Public Answer
            Link:<br/>http://{{ request.get_host }}{% url 'brief_answer' token=object.token.hex %}</p>
    {% endif %}
    {% if answer_set %}
        <p id="answered" class="text-success"><b>{% trans "Answered on" %} {{ answer_set.created }}</b></p>
    {% endif %}

    <br/>
    <h2 class="section_title">
        Questions
    </h2>

    <hr>

    {% if answer_set %}
        {% for answer in answers %}
            {% with question=answer.question %}
                <div id="question_{{ question.index }}" class="question">
                    {{ forloop.counter }} ) {{ question.question.get_text }}
                    <div class="multiquestion_choices">
                        {% for choice in question.choices %}
                            {% if forloop.counter0|slugify in answer.choices %}
                                <div class="text-success"><b>
                                    — {{ choice.get_text }}
                                </b></div>
                            {% else %}
                                <div>
                                    — {{ choice.get_text }}
                                </div>
                            {% endif %}
                            {% empty %}
                            <div class="text-success"><b>
                                {{ answer.answer }}
                            </b></div>
                        {% endfor %}
                    </div>
                </div>

                <hr>
            {% endwith %}
        {% endfor %}
    {% elif questions %}
        {% for question in questions %}
            <div id="question_{{ question.index }}" class="question">
                {{ forloop.counter }} ) {{ question.question.get_text }}
                <div class="multiquestion_choices">
                    {% for choice in question.choices %}
                        <div>
                            — {{ choice.get_text }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <hr>
            {% empty %}
            No questions have been added yet.<br/>
            <a href="{% url "edit_brief" object.client.id object.id %}">Click here to add some.</a>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block extra_body %}
    <script>
        $(document).ready(function () {
            var alert = $('div .client_email_link');
            alert.append('<br/>The brief status has been changed to <strong>Sent</strong>.<br/>Copy & paste the <strong>Public Answer Link</strong> below:<br/><span id="public_answer_link"></span>');
            $("#public_answer_link").text("http://{{ request.get_host }}{% url 'brief_answer' token=object.token.hex %}").select();
        });
    </script>
{% endblock %}