{% extends "briefs/brief_form.html" %}
{% load bootstrap i18n %}

{% block form_body %}
    {{ form.name|bootstrap }}
{% endblock %}

{% block post_form %}
    <ul id="tabs" class="nav nav-tabs" style="margin-bottom: -1px; border-bottom: 0">
        {% for language_code, language in languages %}
        <li id="{{ language_code }}_tab" {% if forloop.first %}class="active"{% endif %} data="{{ language_code }}"><a>
            {{ language }}</a></li>
        {% endfor %}
        <li id="add_translation">
            <a id="add_translation_button" class="btn">Add Translation</a>
        </li>
    </ul>

    <div class="rounded-border" style="border-top-left-radius: 0px">
    
        <div class="row form-group brief_title margin-bottom-10 {% if form.title.errors %}has-error{% endif %}">
            <div class="col-lg-2">
                <label for="title" class="control-label form_label">
                    Brief Title:
                </label>
            </div>
            <div class="col-lg-10 ">
                <input class="ultext" type="hidden" id="id_title_hidden" name="title" for="id_title" value="{{ form.instance.title.json }}"/>
                <input class="form-control" id="id_title" maxlength="512" type="text" value="" />
            </div>
            <span class="help-block ">{{ form.title.errors.as_text }}</span>
        </div>
    
        <div class="row form-group brief_greeting margin-bottom-10 {% if form.greeting.errors %}has-error{% endif %}">
            <div class="col-lg-2">
                <label for="greeting" class="control-label form_label">
                    Greeting:
                </label>
            </div>
            <div class="col-lg-10 ">
                <input class="ultext" type="hidden" id="id_greeting_hidden" name="greeting" for="id_greeting" value="{{ form.instance.greeting.json }}"/>
                <textarea rows="5" style="width:100%;" id="id_greeting"></textarea>
            </div>
            <span class="help-block ">{{ form.greeting.errors.as_text }}</span>
        </div>
    
        {{ block.super }}
    </div>
    <div id="language_select" style="display: none">
        {{ language_form|bootstrap }}
        <button id="language_add" type="button" class="btn btn-default">Add</button>
    </div>

{% endblock %}


{% block sidebar %}

    <a href="{% url 'brief_templates' %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Back to Templates" %}
        </button>
    </a>

    <a href="{% url 'briefs' %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Back to Briefs" %}
        </button>
    </a>

{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script>
        $('#tabs').on("click", "li", function (e) {
            if (this.id != 'add_translation') {
                var lang = this.getAttribute('data');
                setLanguage(lang);
                $(this).tab('show');
            }
        });

        $('body').on('click', function (e) {
            var p = $('#add_translation_button');
            if (!p.is(e.target) && p.has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                p.popover('hide');
            }
        });

        $(window).resize(function(){
           $('#add_translation_button').popover('hide');
        });

        $('body').on('DOMNodeInserted', 'li:not(#add_translation)', function () {
            this.click();
        });

        $('#add_translation_button').popover({
            html: true,
            container: 'body',
            content: $('#language_select').html(),
            title: false,
            placement: "bottom"
        }).click(function (e) {
            $('body').on('click', '.popover-content > button', function () {
                var l = $('.popover-content #id_language').find(":selected");
                var tabHtml = '<li id="' + l.val() + '_tab" data="' + l.val() + '"><a>' +
                        l.text() + '</a></li>';
                $('.nav-tabs > li:last').before(tabHtml);
            });
        });
    </script>
{% endblock %}