{% extends "base_body.html" %}
{% load bootstrap i18n static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular-animate.js" %}"></script>
    <script src="{% static "js/xeditable.js" %}"></script>
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>
    <script src="{% static "js/ng-sortable.js" %}"></script>
{% endblock %}

{% block project_scripts %}
    {{ block.super }}
    {% if DEBUG %}
        <script src="{% static "js/briefs.js" %}"></script>
    {% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/xeditable.css" %}">
    <link rel="stylesheet" href="{% static "briefs/css/briefs.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable.style.min.css" %}">
{% endblock %}

{% block extra_wrapper_attrs %} ng-app="brief" {% endblock %}

{% block messages %}
    <div gl-alerts></div>
    {{ block.super }}
{% endblock %}

{% block page_title %}
    {% trans title %} <span class="fw-semi-bold">{% if object %} - {{ object.title.get_text }}{% else %}{% endif %}</span>
{% endblock %}

{% block content %}

    <div ng-controller="glFormController"
         ng-init="init('{% firstof language LANGUAGE_CODE %}', '{{ csrf_token }}')">

        {% if answer_set or object.status == "2" %}
            <div class="alert alert-info" role="alert">
                {% if answer_set %}
                    <p id="answered" class="text-success">
                        <b>{% trans "Answered on" %} {{ answer_set.created }}</b><br/>
                        {% trans "You can no longer edit this brief." %}
                    </p>
                    {% elif object.status == "2" or object.status == "3" %}
                    <p id="public_link" class="data">
                        This brief has been sent, and is available on the following link:<br/>
                        http://{{ request.get_host }}{% url 'brief_answer' token=object.token.hex %}
                    </p>
                {% endif %}

            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">

                {% if is_template %}
                    <a href="{% url 'add_brief' %}?template_id={{ template_id }}">
                        <button type="button" class="btn btn-default btn-add action-button pull-right" id="add_brief">
                            Use For New Brief
                        </button>
                    </a>
                {% else %}
                    {% if object.client and not answer_set %}
                        <form method="post" action="">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning pull-right" id="send_brief">
                                {% trans "Send Brief" %}
                            </button>
                        </form>
                    {% endif %}
                    <a href="{% url 'add_brief_template' %}?brief_id={{ object.id }}">
                        <button type="button" class="btn btn-success button-inline pull-right" title="Create template from this brief.">
                            {% trans "Use as Template" %}
                        </button>
                    </a>
                {% endif %}

                <br/>
                <br/>
                <br/>

            </div>
        </div>

        <div br-brief-detail brief-id="{{ object.pk }}" object="object" endpoint="objectEndpoint"
             language="currentLanguage" forms="forms" template-id="{{ template_id }}"
             client-id="{{ client.id }}" project-id="{{ project.id }}" quote-id="{{ quote.id }}"
             is-template="{{ is_template }}" delete-object="deleteObject" submit="submitForm">
        </div>

    </div>
{% endblock %}