{% extends "base_sidebar_enclosed.html" %}
{% load bootstrap i18n static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/xeditable.js" %}"></script>
    <script src="{% static "djangular/js/django-angular.min.js" %}"></script>
    <script src="{% static "js/gallant.js" %}"></script>
    <script src="{% static "js/briefs.js" %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/xeditable.css" %}">
    <link rel="stylesheet" href="{% static "briefs/css/briefs.css" %}">
{% endblock %}

{% block section_title %}
    {% trans title %}
{% endblock %}

{% block sidebar %}
    {% if object.client and not answer_set %}
        <form method="post">
            {% csrf_token %}
            <a>
                <button type="submit" class="btn btn-default sidebar" id="send_brief">
                    {% trans "Send Brief" %}
                </button>
            </a>
        </form>
    {% endif %}
    <a href="{% url 'add_brief_template' brief_id=object.id %}">
        <button type="button" class="btn btn-default sidebar" title="Create template from this brief.">
            {% trans "Use as Template" %}
        </button>
    </a>
{% endblock %}

{% block center_content %}
    <div ng-app="brief" ng-controller="glFormController"
         ng-init="init('{% firstof language LANGUAGE_CODE %}', '{{ csrf_token }}')">

        {% if object.status == "2" %}
            <p id="public_link" class="data">Public Answer
                Link:<br/>http://{{ request.get_host }}{% url 'brief_answer' token=object.token.hex %}</p>
        {% endif %}
        {% if answer_set %}
            <p id="answered" class="text-success">
                <b>{% trans "Answered on" %} {{ answer_set.created }}</b><br/>
                {% trans "You can no longer edit this brief." %}
            </p>
        {% endif %}

        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                <h2 class="section_title">{{ object.client }}</h2>
            </div>

            <div br-brief-detail brief-id="{{ object.pk }}" brief="object" endpoint="objectEndpoint"
                 language="currentLanguage" forms="forms"
                 client-id="{{ client.id }}" project-id="{{ project.id }}" quote-id="{{ quote.id }}"
                 template-id="{{ template_id }}">
            </div>
        </div>
    </div>
{% endblock %}