{% extends "gallant/create_form_ultext.html" %}
{% load bootstrap i18n question_javascript %}

{% block sidebar %}

    <a href="{% url 'client_detail' client.id %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Back to Client" %}
        </button>
    </a>

    <a href="{% url 'brief_list' 'client' client.id %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Back to Briefs" %}
        </button>
    </a>

{% endblock %}


{% block post_form %}
    <table id="question_table" width="500">
        {% for s in questions %}
            {{ s }}
        {% endfor %}
        <tr>
            <td>
                <button type="button" id="add_question" class="btn btn-default" style="float: right">Add Question</button>
                <button type="button" id="add_multiquestion" class="btn btn-default" style="float: left">Add Multiple Choice Question</button>
            </td>
        </tr>
    </table>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script>
        var counter = {{ questions|length|default:0 }};
        question = function (ct) {
            var str = {% question_form_javascript %};
            return str.format('-question-' + ct + '-');
        };

        multiquestion = function (ct) {
            var str = {% multiquestion_form_javascript %};
            return str.format('-multiquestion-' + ct + '-');
        };

        reindexQuestions = function () {
            $('#question_table > tbody.question').each(function (i) {
                if (!$(this).hasClass('dynamic_section')) {
                    return true;
                }

                if ($(this).hasClass('multiquestion')) {
                    var new_question = $.parseHTML(multiquestion(i));

                    gallant.copyElement(new_question, this, '.question_choices');
                    $(new_question).find('.choice_table').replaceWith($(this).find('.choice_table'));
                } else {
                    var new_question = $.parseHTML(question(i));
                }

                gallant.copyElement(new_question, this, '.question_id');
                gallant.copyElement(new_question, this, '.question_text input[type="hidden"]');
                gallant.copyElement(new_question, this, '.question_text input[type="text"]');
                $(new_question).find('.question_index').val(i);

                $(this).replaceWith(new_question);
            });
            $('.add_choice').click(add_choice);
        };

        $('#add_question').click(function () {
            counter++;
            $('#question_table > tbody:last').before(question(counter));
            reindexQuestions();
        });

        var add_choice = function () {
            var ctable = $(this).closest('tbody').find('.choice_table');
            $(ctable).find('tbody').append('<tr><td>' +
            ' <input class="form-control {{ prefix }}choice ultext_array_target" maxlength="512"' +
            '       type="text" value=""/>' +
            '</td></tr>')
        };

        $('#add_multiquestion').click(function () {
            counter++;
            var newquestion = $('#question_table > tbody:last').before(multiquestion(counter));
            reindexQuestions();
        });

        $('.add_choice').click(add_choice);

        $(document.body).on('click', '.close', function () {
            del = confirm("Remove question?")
            if (del) {
                $(this).parents('tbody')[0].remove();
                counter--;
                reindexQuestions();
            }
        });
    </script>
{% endblock %}