{% extends "gallant/create_form_ultext.html" %}
{% load bootstrap i18n question_javascript %}

{% block sidebar %}
    {% if client %}
    <a href="{% url 'client_detail' client.id %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Back to Client" %}
        </button>
    </a>

    <a href="{% url 'brief_list' 'client' client.id %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Back to Briefs" %}
        </button>
    </a>
    {% endif %}
{% endblock %}

{% block post_form %}
    {% if brief.client_id %}
    <input type="hidden" name="client" value="{{ brief.client_id }}">
    {% endif %}
    <div class="rounded-border padding-top-20">

        <div id="question_table">
            {% for s in questions %}
                {{ s }}
            {% endfor %}
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" id="add_question" class="btn btn-default pull-left margin-right-10">Add Question</button>
                    <button type="button" id="add_multiquestion" class="btn btn-default pull-left">Add Multiple Choice Question</button>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script>
        var counter = {{ questions|length|default:0 }};
        question = function (ct) {
            var str = {% question_form_javascript %};
            return str.format('-question-' + ct + '-');
        };

        multiquestion = function (ct) {
            var str = {% multiquestion_form_javascript %};
            return str.format('-multiquestion-' + ct + '-');
        };

        reindexQuestions = function () {
            $('#question_table > div.question').each(function (i) {
                if (!$(this).hasClass('dynamic_section')) {
                    return true;
                }

                if ($(this).hasClass('multiquestion')) {
                    var new_question = $.parseHTML(multiquestion(i));

                    gallant.copyElement(new_question, this, '.question_choices');
                    $(new_question).find('.choice_table').replaceWith($(this).find('.choice_table'));
                } else {
                    var new_question = $.parseHTML(question(i));
                }

                gallant.copyElement(new_question, this, '.question_id');
                gallant.copyElement(new_question, this, '.question_text input[type="hidden"]');
                gallant.copyElement(new_question, this, '.question_text input[type="text"]');
                $(new_question).find('.question_index').val(i);

                $(this).replaceWith(new_question);
            });
            $('.add_choice').click(add_choice);
            $('.add_choice').click();
            $('.add_choice').click();
        };

        $('#add_question').click(function () {
            counter++;
            $('#question_table > div:last').before(question(counter));
            reindexQuestions();
        });

        var add_choice = function () {
            var ctable = $(this).parent().parent().parent().closest('div').find('.choice_table');
            $(ctable).append('<div class="row margin-bottom-10 question"><div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">' +
            ' <input class="form-control choice ultext_array_target" placeholder="Choice" maxlength="512"' +
            '       type="text" value=""/>' +
            '</div><div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><button type="button" class="close close_b" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div></div>')
        };

        $('#add_multiquestion').click(function () {
            counter++;
            $('#question_table > div:last').before(multiquestion(counter));
            reindexQuestions();
        });

        $('.add_choice').click(add_choice);

        $(document.body).on('click', '.close', function () {
            var del = confirm("Remove this element?")
            if (del) {
                $(this).parents('div.question')[0].remove();
                counter--;
                reindexQuestions();
            }
        });
    </script>
{% endblock %}