{% extends "base_sidebar.html" %}
{% load bootstrap i18n %}

{% block section_title %}
    {% trans title %}
{% endblock %}

{% block sidebar %}

    <a href="{% url 'client_detail' client.id %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Back to Client" %}
        </button>
    </a>

    <a href="{% url 'edit_brief' brief_type="client" type_id=client.id pk=brief.id %}">
        <button type="button" class="btn btn-default sidebar" id="add_client_brief">
            {% trans "Edit Brief" %}
        </button>
    </a>

{% endblock %}

{% block center_content %}

    <h2 class="section_title">{% trans "Data" %}</h2>

    <p id="title">{% trans "Title" %}: {{ object.title.get_text }}</p>
    <p id="status">{% trans "Status" %}: {{ object.get_status_display }}</p>

    <hr>

    {% for question in object.questions.all.select_subclasses %}
        <div id="question_{{ question.index }}">
            {{ question.question.get_text }}
            <ul class="multiquestion_choices">
            {% for choice in question.choices %}
                <li>{{ choice.get_text }}</li>
            {% endfor %}
            </ul>
        </div>

        <hr>
    {% endfor %}

{% endblock %}