{% extends "base_body.html" %}
{% load bootstrap i18n staticfiles %}

{% block section_title %}
    {{ brief_type_title }}{% trans " Briefs" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "djng/js/django-angular.js" %}"></script>

    <script>
        var app = angular.module('brBriefList', [
            'ngResource',
            'ui.bootstrap',
            'ng.django.forms'
        ]);
    </script>

{% endblock %}

{% block extra_wrapper_attrs %} ng-app="brBriefList" {% endblock %}

{% block content %}
    {% if client %}
        <div class="row">
            <div class="col-lg-6">
                <h2 class="center_title">
                    {{ client }}
                </h2>
            </div>
            <div class="col-lg-6">
                <button id="add_brief" type="button" class="btn btn-default btn-add action-button pull-right">
                    Add Brief
                </button>
                <a href="{% url 'brieftemplates' %}" class="pull-right">
                    <button type="button" class="btn btn-default btn-add action-button">
                        Brief Templates
                    </button>
                </a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <br/>
            <table class="table table-striped table-bordered">
                <thead>
                <th>{% trans "Last Modified" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Status" %}</th>
                </thead>
                {% for brief in object_list %}
                    <tr data-rel="{{ brief.id }}" style="cursor: pointer" class="brief_row">
                        <td>{{ brief.modified|date:'Y-m-d H:i' }}</td>
                        <td>{{ brief.title.get_text }}</td>
                        <td>{{ brief.get_status_display }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">
                            No briefs yet.
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="add_button_popover" class="popover" style="display: none">
        <a class="from_template_button">
            <button type="button" class="btn btn-default from_template_button sidebar">From Template</button>
        </a>
        <a href="{% url 'add_brief' %}{% if client %}?client_id={{ client.id }}{% endif %}">
            <button type="button" class="btn btn-default from_scratch_button sidebar">From Scratch</button>
        </a>
    </div>
{% endblock %}


{% block extra_body %}
    <div id="template_select" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="section_title">Select Template</h2>
                </div>
                <div class="modal-body" style="height: 500px; overflow: auto;">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <th><b>{% trans "Name" %}</b></th>
                        <th><b>{% trans "Date" %}</b></th>
                        <th><b>{% trans "Language" %}</b></th>
                        </thead>
                        {% for template in template_list %}
                            <tr data-rel="{{ template.id }}" style="cursor: pointer" class="template_row">
                                <td>{{ template.brief.name }}</td>
                                <td>{{ template.brief.modified|date:'Y-m-d H:i' }}</td>
                                <td>
                                    {% if template.language_list %}
                                        <select class="template_lang form-control" name="language">
                                            {% for code, language in template.language_list %}
                                                <option value="{{ code }}">{{ language }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">
                                    No templates yet,
                                    <a href="{% url "add_brief_template" %}">click here to add one.</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>
    <script>
        $('#add_brief').popover({
            html: true,
            container: 'body',
            content: $('#add_button_popover').html(),
            title: false,
            placement: "bottom"
        }).click(function () {
            $('body').on('click', '.popover-content > button.from_template_button', function () {
                $('#add_brief').popover('hide');
                $('#template_select').modal('show');
            });
            $('body').on('click', '.popover-content > a.from_template_button', function () {
                $('#add_brief').popover('hide');
                $('#template_select').modal('show');
            });
        });

        $('body').on('click', function (e) {
            var p = $('#add_brief');
            if (!p.is(e.target) && p.has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                p.popover('hide');
            }
        });

        $(window).resize(function () {
            $('#add_brief').popover('hide');
        });

        $('.table .brief_row').click(function () {
            window.location.href = "{% url 'brief_detail' %}" + $(this).attr('data-rel') +
                    "{% if request.GET.urlencode %}?{% endif %}{{ request.GET.urlencode }}";
        });

        $('.table .template_row').click(function (e) {
            var lang = '{{ LANGUAGE_CODE }}';
            if ($(this).find('select').length) {
                lang = $(this).find('select').val();
            }
            window.location.href = "{% url 'add_brief' %}" + "?template_id=" +
                    $(this).attr('data-rel') + "&lang=" + lang +
                    "&{{ request.GET.urlencode }}";
        });

        $('.table .template_row select').click(function (e) {
            e.stopPropagation();
        });

        $('.table .template_row select').change(function (e) {
            window.location.href = "{% url 'add_brief' %}" + "?template_id=" +
                    $(this).parents('tr').attr('data-rel') + "&lang=" + $(this).val() +
                    "&{{ request.GET.urlencode }}";
        });
    </script>
{% endblock %}