<tbody id="{{ prefix }}" class="question multiquestion {{ extra_class }}">
<tr>
    <td>Q (Multiple-Choice):</td>
    <td>
        <button id="{{ prefix }}remove" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </td>
</tr>
{% if question.id %}
<input class="question_id" type="hidden" id="id_{{ prefix }}id" name="{{ prefix }}id" value="{{ question.id }}"/>
{% endif %}
<input class="question_index" type="hidden" id="id_{{ prefix }}index" name="{{ prefix }}index" value="{{ question.index }}"/>
<tr class="question_text">
    <td><input class="ultext" type="hidden" id="id_{{ prefix }}question_hidden" name="{{ prefix }}question"
               for="id_{{ prefix }}question" value="{{ question.question.json }}"/>
        <input class="form-control" id="id_{{ prefix }}question" maxlength="512"
               type="text" value=""/></td>
</tr>
<tr class="question_choices">
    <td><input class="ultext_array" type="hidden" id="id_{{ prefix }}choices_hidden" name="{{ prefix }}choices"
               value="{{ question.choices.json }}" for="id_{{ prefix }}choices"/></td>
</tr>
<tr id="id_{{ prefix }}choices">
<td><table class="choice_table" style="width: calc(100% - 40px); margin-left: 40px;">
    <tbody>
    {% for choice in question.choices %}
        <tr><td>
            <input class="form-control {{ prefix }}choice ultext_array_target" maxlength="512"
                   type="text" value=""/>
        </td></tr>
    {% endfor %}
    </tbody>
</table></td>
</tr>
<tr><td><button type="button" id="id_{{ prefix }}add_choice" class="btn btn-default add_choice"
        style="float: right">Add Choice</button>
</td></tr>
</tbody>