{% extends "base_body.html" %}
{% load bootstrap i18n %}
{% load static %}

{% block ng_app %} ng-app="quote" {% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/angular-animate.js" %}"></script>
    <script src="{% static "js/xeditable.min.js" %}"></script>
    <script src="{% static "js/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "js/ng-sortable.min.js" %}"></script>
    <script src="{% static "js/smart-table.js" %}"></script>
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>
    <script src="{% static "js/gallant.js" %}"></script>
    <script src="{% static "js/quotes.js" %}"></script>
{% endblock %}

{% block section_title %}
    {% trans "Quotes" %}
{% endblock %}

{% block content %}

    <div class="row">
        {% if client %}
            <div class="col-lg-6">
                <h2 class="center_title">
                    {{ client }}
                </h2>
                <br/>
            </div>
        {% endif %}
        <div class="{% if client %}col-lg-6{% else %}col-lg-12 margin-bottom-20{% endif %}">
            <div ng-controller="qtPopoverController"
                 ng-init="init('{% url 'add_quote' %}', '{% firstof language LANGUAGE_CODE %}')">
                <a>
                    <button popover-placement="bottom" uib-popover-template="dynamicPopover.templateUrl" type="button" class="btn btn-default btn-add action-button pull-right" popover-trigger="focus">{% trans "Add New Quote" %}</button>
                </a>

                <a href="{% url 'quotetemplates' %}">
                    <button type="button" class="btn btn-default btn-add action-button pull-right">
                        {% trans "Templates" %}
                    </button>
                </a>
            </div>

            {% if client %}

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default action-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 0px;">
                        Client Sections<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu action-button">
                        {% url 'client_detail' client.id as client_detail %}
                        <li><a href="{{ client_detail }}">Client Overview</a></li>
                        {% url 'client_work_detail' client.id as client_work_detail %}
                        <li><a href="{{ client_work_detail }}">Client Work</a></li>
                        {% url 'client_money_detail' client.id as client_money_detail %}
                        <li><a href="{{ client_money_detail }}">Client Money</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'briefs' %}?client_id={{ client.id }}">Client Briefs</a></li>
                        <li><a href="{% url 'quotes' %}?client_id={{ client.id }}">Client Quotes</a></li>
                    </ul>
                </div>

            {% endif %}
        </div>
    </div>

    <div ng-controller="qtQuoteListController">
    <div ng-init="init('{% url 'quote_detail' %}', '{% firstof language LANGUAGE_CODE %}', {% firstof client.id 'null' %})">

        <div class="row">

            <div class="col-lg-12">

                <table st-table="quotes" st-safe-src="quotesSafe"
                       class="table table-striped table-bordered col-lg-12">
                    <thead>
                    <tr>
                        <th colspan="4" class="container">
                            <div class="row">
                                <label class="control-label search col-lg-12">Search</label>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="text" placeholder="Search Quote Name" st-search="name" class="form-control medium-text"/>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th st-sort="last_modified">{% trans "Last Modified" %}</th>
                        <th st-sort="client_name">{% trans "Client" %}</th>
                        <th st-sort="name">{% trans "Quote" %}</th>
                        <th st-sort="status">{% trans "Status" %}</th>
                    </tr>
                    </thead>
                    <tbody ng-include src="'{% static "quotes/html/qt_quote_rows.html" %}'">
                    </tbody>
                </table>

            </div>

        </div>

    </div>
{% endblock %}

{% block extra_body %}

    <div ng-init="init('{% url 'quote_detail' %}', {{ LANGUAGE_CODE }})">
        <script type="text/ng-template" id="addQuotePopoverTemplate.html">
            <a class="from_template_button" ng-click="open()">
                <button type="button" class="btn btn-default from_template_button sidebar">From Template</button>
            </a>
            <a ng-click="addQuoteRedirect()">
                <button type="button" class="btn btn-default from_scratch_button sidebar">From Scratch</button>
            </a>
        </script>
        <script type="text/ng-template" id="quoteTemplateModalContent.html">
            <div class="modal-header">
                <h2 class="section_title">Select Template</h2>
            </div>
            <div class="modal-body">
                <table st-table="quoteTemplate" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th st-sort="name">{% trans "Name" %}</th>
                        <th st-sort="date">{% trans "Date" %}</th>
                        <th st-sort="language">{% trans "Language" %}</th>
                    </tr>
                    </thead>
                    <tbody ng-include src="'{% static "quotes/html/qt_quotetemplate_modal_rows.html" %}'"></tbody>
                </table>
            </div>
        </script>
    </div>
    </div>

{% endblock %}