{% extends "base_sidebar.html" %}
{% load bootstrap i18n %}
{% load static %}

{% block ng_app %} ng-app="quote" {% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/angular-animate.js" %}"></script>
    <script src="{% static "js/xeditable/xeditable.min.js" %}"></script>
    <script src="{% static "js/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "djangular/js/django-angular.min.js" %}"></script>
    <script src="{% static "gallant/js/directives/glForm.js" %}"></script>
    <script src="{% static "gallant/js/controllers/glFormController.js" %}"></script>
    <script src="{% static "quotes/js/controllers/qtQuoteListController.js" %}"></script>
    <script src="{% static "quotes/js/controllers/qtPopoverController.js" %}"></script>
    <script src="{% static "quotes/js/services/qtServices.js" %}"></script>
    <script src="{% static "quotes/js/directives/qtForm.js" %}"></script>
    <script src="{% static "quotes/js/apps/quotes.js" %}"></script>
    <script src="{% static "js/ng-sortable/ng-sortable.min.js" %}"></script>
    <script src="{% static "js/smart-table.js" %}"></script>

{% endblock %}

{% block section_title %}
    {% trans "Quotes" %}
{% endblock %}

{% block sidebar %}
    <div ng-controller="qtPopoverController"
         ng-init="init('{% url 'add_quote' %}', '{% firstof language LANGUAGE_CODE %}')">
        <a>
            <button popover-placement="bottom" uib-popover-template="dynamicPopover.templateUrl" type="button" class="btn btn-default sidebar">{% trans "Add New Quotes" %}</button>
        </a>

        <a href="{% url 'quote_templates' %}">
            <button type="button" class="btn btn-default sidebar">
                {% trans "Templates" %}
            </button>
        </a>
    </div>

{% endblock %}

{% block center_content %}
    <div ng-controller="qtQuoteListController"
         ng-init="init('{% url 'quote_detail' %}', '{% firstof language LANGUAGE_CODE %}')">
        <table st-table="quotes" st-safe-src="quotesSafe"
               class="table table-striped table-bordered">
            <thead>
            <tr>
                <th st-sort="last_modified">{% trans "Last Modified" %}</th>
                <th st-sort="client">{% trans "Client" %}</th>
                <th st-sort="name">{% trans "Quote" %}</th>
                <th st-sort="status">{% trans "Status" %}</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <input placeholder="search client name" st-search="name"/>
                </th>
                <th></th>
                <th>
                    <input placeholder="search status" st-search="status"/>
                </th>
            </tr>
            </thead>
            <tbody ng-include src="'{% static "quotes/html/qt_quote_rows.html" %}'">
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_body %}
    
    <div ng-controller="qtQuoteListController"
         ng-init="init('{% url 'quote_detail' %}', {{ LANGUAGE_CODE }})">

        <script type="text/ng-template" id="myPopoverTemplate.html">
            <a class="from_template_button" ng-click="open()">
                <button type="button" class="btn btn-default from_template_button sidebar">From Template</button>
            </a>
            <a ng-click="addQuoteRedirect()">
                <button type="button" class="btn btn-default from_scratch_button sidebar">From Scratch</button>
            </a>
        </script>

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h2 class="section_title">Select Template</h2>
            </div>
            <div class="modal-body">
                <table st-table="templates" st-safe-src="quoteTemplates" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th st-sort="name">{% trans "Name" %}</th>
                            <th st-sort="date">{% trans "Date" %}</th>
                            <th st-sort="language">{% trans "Language" %}</th>
                        </tr>
                    </thead>
                    <tbody ng-include src="'{% static "quotes/html/qt_quotetemplate_modal_rows.html" %}'"></tbody>
                </table>
            </div>
        </script>

    </div>

{% endblock %}