{% extends "quotes/quote_preview.html" %}
{% load staticfiles bootstrap i18n %}

{% block pdf_style %}
    <link rel="stylesheet" href="{% static "css/quote_html.css" %}">
{% endblock pdf_style %}

{% block pagination_init %}
    page_height = 543; // Use this for local testing.
{% endblock pagination_init %}

{% block body %}

    <div class="page-wrapper">

        <header class="header">
            <div class="container">
                <div class="row header_top">
                    <div class="col-xs-12">
                        <p>
                            <strong>{{ object.client.name }}</strong><br/>
                            {{ object.name }}
                        </p>
                    </div>
                </div>
                <div class="row header_bottom">
                    <div class="col-xs-4">
                        <p>
                            <strong>{{ object.user.name }}</strong><br/>
                            {{ object.user.email }}<br/>
                            {{ object.user.contact_info.phone_number }}
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p>
                            <strong>{% trans "Address" %}</strong><br/>
                            {{ object.user.contact_info.address }}<br/>
                            {{ object.user.contact_info.address_2 }}<br/>
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p>
                            <br/>
                            {{ object.user.contact_info.city }},
                            {{ object.user.contact_info.state }}<br/>
                            {{ object.user.contact_info.country }} {{ object.user.contact_info.zip }}<br/>
                        </p>
                    </div>
                </div>
            </div>
        </header>

        <section class="content">
            <div class="holder v-center">
                <div class="container">
                    {% for section in sections %}
                        {% if section.service %}
                            {% with service=section.service %}
                                <div class="pdf_element not_in_page service">

                                    <div class="row">
                                        <div class="col-xs-offset-2 col-xs-8 section_title">
                                            <h2>
                                                {{ service.name.get_text }}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-offset-4 col-xs-8 section_content">
                                            {{ service.description.get_text|linebreaks }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-offset-4 col-xs-4 section_content">
                                            <p class="service_cost">
                                                {% trans "Service Cost:" %}
                                            </p>
                                        </div>
                                        <div class="col-xs-4 section_content">
                                            <p class="service_cost">
                                                {{ service.cost }} &times; {{ service.quantity }}
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            {% endwith %}
                        {% else %}
                            <div class="pdf_element not_in_page {{ section.name }}">
                                <div class="row">
                                    <div class="col-xs-offset-2 col-xs-8 section_title">
                                        <h2>
                                            {{ section.title.get_text }}
                                        </h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-4 col-xs-8 section_content">
                                        {{ section.text.get_text|linebreaks }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="pdf_element not_in_page prices">
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-10 section_title">
                                <h2>
                                    {% trans "Prices" %}
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-3 section_content">
                                <p>
                                    <strong>{% trans "Service" %}</strong>
                                </p>
                            </div>
                            <div class="col-xs-1 section_content">
                                <p>
                                    <strong>{% trans "Quantity" %}</strong>
                                </p>
                            </div>
                            <div class="col-xs-2 section_content">
                                <p>
                                    <strong>{% trans "Unit Price" %}</strong>
                                </p>
                            </div>
                            <div class="col-xs-2 section_content">
                                <p>
                                    <strong>{% trans "Subtotal" %}</strong>
                                </p>
                            </div>
                        </div>
                        {% for section in sections %}
                            {% if section.service %}
                                {% with service=section.service %}
                                    <div class="row">
                                        <div class="col-xs-offset-4 col-xs-3 section_content">
                                            <p>
                                                {{ service.name.get_text }}
                                            </p>
                                        </div>
                                        <div class="col-xs-1 section_content">
                                            <p>
                                                {{ service.quantity }}
                                            </p>
                                        </div>
                                        <div class="col-xs-2 section_content">
                                            <p>
                                                {{ service.cost }}
                                            </p>
                                        </div>
                                        <div class="col-xs-2 section_content">
                                            <p>
                                                {{ service.get_total_cost }}
                                            </p>
                                        </div>
                                    </div>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}

                        <div class="row">
                            <div class="col-xs-offset-8 col-xs-2 section_content">
                                <p>
                                    <strong>{% trans "Total" %}</strong>
                                </p>
                            </div>
                            <div class="col-xs-2 section_content">
                                <p>
                                    <strong>{{ total_cost }}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row content_footer">
                    <div class="col-xs-4">
                        <p>
                            {% trans "Created using" %} {{ site.domain }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11">
                    </div>
                    <div class="col-xs-1">
                        <p class="pull-right" id="page_number">
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </div>

{% endblock body %}
