{% extends "base_sidebar.html" %}
{% load bootstrap i18n %}

{% block section_title %}
    {% trans "Quotes" %}
{% endblock %}

{% block sidebar %}
    <button id="add_quote_button" type="button" class="btn btn-default sidebar">
        {% trans "Add New Quote" %}
    </button>

{% endblock %}

{% block center_content %}
    <table class="table table-striped table-bordered">
        <thead>
        <th><b>{% trans "Date" %}</b></th>
        <th><b>{% trans "Client" %}</b></th>
        <th><b>{% trans "Quote" %}</b></th>
        <th><b>{% trans "Status" %}</b></th>
        </thead>
        {% for quote in object_list %}
            <tr data-rel="{{ quote.id }}" style="cursor: pointer">
                <td>{{ quote.created|date:'Y-m-d H:i' }}</td>
                <td>{{ quote.client.name }}</td>
                <td>{{ quote.name }}</td>
                <td>{{ quote.get_status_display }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">
                    No quotes yet.
                </td>
            </tr>
        {% endfor %}
    </table>
    <div id="add_button_popover" style="display: none">
        <table>
            <tr><td><button id="from_template_button" type="button" class="btn btn-default">From Template</button></td></tr>
            <tr><td><button id="from_scratch_button" type="button" class="btn btn-default">From Scratch</button></td></tr>
        </table>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $('#add_quote_button').popover({
            html: true,
            container: 'body',
            content: $('#add_button_popover').html(),
            title: "New Quote",
            placement: "right"
        });

        $('body').on('click', function (e) {
            var p = $('#add_quote_button');
            if (!p.is(e.target) && p.has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                p.popover('hide');
            }
        });

        $('.table > tbody > tr').click(function () {
            window.location.href = "{% url 'quote_detail' %}" + $(this).attr('data-rel')
        });
    </script>
{% endblock %}