{% extends "base_body.html" %}
{% load bootstrap i18n %}
{% load static %}

{% block ng_app %} ng-app="quote" {% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular-animate.js" %}"></script>
    <script src="{% static "js/xeditable.min.js" %}"></script>
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>
    <script src="{% static "js/ng-sortable.min.js" %}"></script>
    <script src="{% static "js/smart-table.js" %}"></script>

    {% block project_scripts %}
        {{ block.super }}
        {% if DEBUG %}
            <script src="{% static "js/quotes.js" %}"></script>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/xeditable.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable.style.min.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable.min.css" %}">
    <style>
        [name="name"] {
            width: 110px;
        }

        [name="quantity"] {
            width: 70px;
        }

        [name="amount"] {
            width: 70px;
        }

        .as-sortable-item {
            border: 0px;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">

            <a href="{% url 'quote_pdf' object.token.hex %}">
                <button type="button" class="btn btn-default btn-add action-button pull-right">
                    {% trans "Download Quote" %}
                </button>
            </a>

            {% if object.status != "5" and object.status != "6" %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="reject">
                    <button id="quote_reject" type="submit" class="btn btn-default btn-add action-button pull-right">
                        {% trans "Reject Quote" %}
                    </button>
                </form>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="accept">
                    <button id="quote_accept" type="submit" class="btn btn-default btn-add action-button pull-right">
                        {% trans "Accept Quote" %}
                    </button>
                </form>
            {% endif %}

        </div>
    </div>

    <div ng-controller="glFormController" ng-init="init('{% firstof language LANGUAGE_CODE %}', '{{ csrf_token }}')">
        <div qt-client quote-id="{{ object.pk }}" quote="object" endpoint="objectEndpoint" language="currentLanguage" forms="forms" client-id="{{ client.id }}" project-id="{{ project.id }}" quote-id="{{ quote.id }}" template-id="{{ template_id }}" bool-template="False" id-type="{{ id_type }}">
        </div>
    </div>

{% endblock %}