{% extends "base.html" %}
{% load bootstrap i18n %}

{% block content %}
    <h3>{% trans "Quote" %}</h3>
    (<a href="{% url 'edit_quote' object.id %}">{% trans "Edit" %}</a>)
    <p><b>{% trans "Name" %}:</b> {{ object.name }}</p>
    <p><b>{% trans "Client" %}:</b> {{ object.client.name }}</p>
    <p><b>{% trans "Status" %}:</b> {{ object.get_status_display }}</p>
    <p><b>{% trans "Intro" %}:</b> {{ object.intro.render_html }}</p>
    <br>
    <p><b>{% trans "Margin Section" %}:</b> {{ object.margin_section.render_html }}</p>
{% endblock %}