{% extends "base_sidebar_enclosed.html" %}
{% load bootstrap i18n %}
{% load static %}

{% block ng_app %} ng-app="quote" {% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/angular-animate.js" %}"></script>
    <script src="{% static "js/xeditable.min.js" %}"></script>
    <script src="{% static "js/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "djangular/js/django-angular.min.js" %}"></script>
    <script src="{% static "gallant/js/directives/glForm.js" %}"></script>
    <script src="{% static "gallant/js/controllers/glFormController.js" %}"></script>
    <script src="{% static "quotes/js/controllers/qtQuoteListController.js" %}"></script>   
    <script src="{% static "quotes/js/controllers/qtPopoverController.js" %}"></script>     
    <script src="{% static "quotes/js/services/qtServices.js" %}"></script>
    <script src="{% static "quotes/js/directives/qtForm.js" %}"></script>
    <script src="{% static "quotes/js/directives/qtServiceTable.js" %}"></script>
    <script src="{% static "quotes/js/directives/qtSectionTable.js" %}"></script>
    <script src="{% static "quotes/js/filters/qtCutFilter.js" %}"></script>
    <script src="{% static "quotes/js/apps/quotes.js" %}"></script>
    <script src="{% static "js/ng-sortable.min.js" %}"></script>
    <script src="{% static "js/smart-table.js" %}"></script>


{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/xeditable.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable.style.min.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable.min.css" %}">
    <style>
        [name="name"]{
           width: 110px;
        }
        [name="quantity"]{
           width: 70px;
        }
        [name="amount"]{
           width: 70px;
        }
        .as-sortable-item {
           border: 0px; 
        }
    </style>
{% endblock %}

{% block header_div %}
{% endblock %}

{% block sub_header %}
{% endblock %}


{% block sidebar %}

    <a href="{% url 'quote_pdf' object.id %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Download Quote" %}
        </button>
    </a>
{% endblock %}

{% block center_content %}

    <div ng-controller="glFormController"
         ng-init="init('{% firstof language LANGUAGE_CODE %}', '{{ csrf_token }}')">
        <div qt-quote-form quote-id="{{ object.pk }}" quote="object" endpoint="objectEndpoint"
             language="currentLanguage" forms="forms"
             client-id="{{ client.id }}" project-id="{{ project.id }}" quote-id="{{ quote.id }}"
             template-id="{{ template_id }}" bool-template="False" id-type="{{id_type}}">
        </div> 
    </div>

{% endblock %}