{% extends "base_body.html" %}
{% load bootstrap i18n gallant_tags static %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/angular-animate.js" %}"></script>
    <script src="{% static "js/xeditable.min.js" %}"></script>
    <script src="{% static "js/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>
    <script src="{% static "js/ng-sortable.min.js" %}"></script>
    <script src="{% static "js/smart-table.js" %}"></script>
    {% if DEBUG %}
        <script src="{% static "js/gallant.js" %}"></script>
        <script src="{% static "js/quotes.js" %}"></script>
    {% else %}
        <script src="{% static "js/all.min.js" %}"></script>
    {% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/xeditable.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable.style.min.css" %}">
    <link rel="stylesheet" href="{% static "cssng-sortable.min.css" %}">


    <style>
        [name="name"]{
           width: 110px;
        }
        [name="quantity"]{
           width: 70px;
        }
        [name="amount"]{
           width: 70px;
        }
    </style>

{% endblock %}

{% block extra_wrapper_attrs %} ng-app="quote" {% endblock %}

{% block messages %}
    <div gl-alerts></div>
    {{ block.super }}
{% endblock %}

{% block content %}

    <div ng-controller="glFormController"
         ng-init="init('{% firstof language LANGUAGE_CODE %}', '{{ csrf_token }}')">
        <div qt-quote-form quote-id="
                {{ object.pk |default_if_none:"" }}" quote-template="object" endpoint="objectEndpoint"
             language="currentLanguage" forms="forms" delete-object="deleteObject"
             client-id="{{ client.id }}" project-id="{{ project.id }}" submit="submitForm"
             bool-template="True" template-id="{{ template_id }}" user-id="{{ user.id }}">
        </div>

    </div>

{% endblock %}



{% block form_actions %}



{% endblock %}

{% block extra_body %}

{% endblock %}