{% extends "gallant/create_form.html" %}
{% load bootstrap i18n section_html %}

{% block sidebar %}{% endblock %}

{% block post_form %}
    <table id="section_table" width="500">
        {% if sections %}
            {% for s in sections %}
                {{ s }}
            {% endfor %}
        {% else %}
            {% for s in form.quote_sections %}
                {{ s }}
            {% endfor %}
        {% endif %}
        <tr>
            <td>
                <button type="button" id="add_section" class="btn btn-default" style="float: right">Add Section</button>
            </td>
            <td>
                <button type="button" id="add_service" class="btn btn-default" style="float: right">Add Service</button>
            </td>
        </tr>
    </table>
{% endblock %}

{% block form_actions %}
    {{ block.super }}
    <td><div class="form-actions">
        <button id="preview_pdf" class="btn btn-default" type="button">{% trans "Preview" %}</button>
    </div></td>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script>
        var currentLanguage = '{{ LANGUAGE_CODE }}';
        var setLanguage = function (language) {
            if (language == '') {
                alert('Aattempted to set language to none.')
                return;
            }
            $('.ultext').each(function () {
                var data = {};
                var ref = $('#' + this.getAttribute('for'));
                try {
                    data = JSON.parse(this.value);
                } catch (e) {
                }
                if (language != currentLanguage) {
                    data[currentLanguage] = ref.val();
                    this.value = JSON.stringify(data);
                }
                if (language in data) {
                    ref.val(data[language]);
                } else {
                    ref.val('');
                }
            });
            currentLanguage = language;
        };

        counter = {% firstof form.quote_sections|length %};
        section = function (ct, dyn_idx) {
            var str = {% section_form_javascript %};
            return str.format('-section-' + ct + '-', 'section_' + dyn_idx, 'Section ' + dyn_idx);
        };

        service = function (ct, dyn_idx) {
            var str = {% service_form_javascript %};
            return str.format('-service-' + ct + '-', 'section_' + dyn_idx, 'Section ' + dyn_idx);
        };

        renameSections = function () {
            var dyn_section_idx = 1;
            $('#section_table > tbody.section').each(function (i) {
                if (!$(this).hasClass('dynamic_section')) {
                    return true;
                }

                var new_section;
                if ($(this).hasClass('service')) {
                    new_section = $.parseHTML(service(i, dyn_section_idx));
                    gallant.copyElement(new_section, this, '.service_name input[type="hidden"]');
                    gallant.copyElement(new_section, this, '.service_description input[type="hidden"]');
                    gallant.copyElement(new_section, this, '.service_name input[type="text"]');
                    gallant.copyElement(new_section, this, '.service_description input[type="textarea"]');
                    gallant.copyElement(new_section, this, '.service_cost input');
                    gallant.copyElement(new_section, this, '.service_quantity input');
                    gallant.copyElement(new_section, this, '.service_type select');
                } else {
                    new_section = $.parseHTML(section(i, dyn_section_idx));
                }

                gallant.copyElement(new_section, this, '.section_id');
                gallant.copyElement(new_section, this, '.section_title input[type="hidden"]');
                gallant.copyElement(new_section, this, '.section_text input[type="hidden"]');
                gallant.copyElement(new_section, this, '.section_title input[type="text"]');
                gallant.copyElement(new_section, this, '.section_text input[type="textarea"]');

                $(this).replaceWith(new_section);
                dyn_section_idx++;
            });
        };

        $(document).ready(function () {
            setLanguage('{{ language|default:LANGUAGE_CODE }}');
        });

        $('#add_section').click(function () {
            counter++;
            $('#section_table > tbody:last').before(section(counter, counter - 1));
            renameSections();
        });

        $('#add_service').click(function () {
            counter++;
            $('#section_table > tbody:last').before(service(counter, counter - 1));
            renameSections();
        });

        $(document.body).on('click', '.close', function () {
            del = confirm("Remove section?")
            if (del) {
                $(this).parents('tbody')[0].remove();
                counter--;
                renameSections();
            }
        });

        {% block create_submit_event %}
            $('#create_submit').on('click', function (e) {
                $('.ultext').each(function () {
                    this.value = $('#' + this.getAttribute('for')).val();
                });
            });
        {% endblock %}
    </script>
{% endblock %}