{% extends "gallant/create_form.html" %}
{% load bootstrap i18n %}

{% block sidebar %}{% endblock %}

{% block extra_form_inputs %}
    <table id="section_table" width="500">
    {% for s in object.all_sections %}
        <tbody id="{{ s.name }}">
        <tr>
            <td>
                <label class="control-label  " for="id_{{ s.name }}">{{ s.display_title }}</label>
                <button id="{{ s.name }}_remove" type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </td>
        </tr>
        <tr>
            <td>Title:&nbsp;&nbsp;</td>
            <td><input class="ultext" type="hidden" id="id_{{ s.name }}_title_hidden" name="{{ s.name }}_title"
                       for="id_{{ s.name }}_title" value='{{ s.title.json }}'/>
                <input class="form-control" id="id_{{ s.name }}_title" maxlength="512"
                       type="text" value="{{ s.title.get_text }}"/></td>
        </tr>
        <tr>
            <td>Content:&nbsp;&nbsp;</td>
            <td><input class="ultext" type="hidden" id="id_{{ s.name }}_text_hidden" name="{{ s.name }}_text"
                       for="id_{{ s.name }}_text" value='{{ s.text.json }}'/>
                <textarea rows="5" style="width:100%;" id="id_{{ s.name }}_text">{{ s.text.get_text }}</textarea>
            </td>
        </tr>
        </tbody>
    {% endfor %}
        <tr>
            <td></td>
            <td>
                <button type="button" id="add_section" class="btn btn-default" style="float: right">Add Section</button>
            </td>
        </tr>
    </table>
{% endblock %}

{% block extra_body %}
    <script>
        counter = 0;
        section = function (ct) {
            var str = '<tbody id="{0}">' +
                      '<tr>' +
                      '    <td>' +
                      '        <label class="control-label  " for="id_{0}">{1}</label>' +
                      '        <button id="{0}_remove" type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                      '            <span aria-hidden="true">&times;</span>' +
                      '        </button>' +
                      '    </td>' +
                      '</tr>' +
                      '<tr>' +
                      '    <td>Title:&nbsp;&nbsp;</td>' +
                      '    <td><input class="ultext" type="hidden" id="id_{0}_title_hidden" name="{0}_title" ' +
                      '               for="id_{0}_title" value=""/>' +
                      '        <input class="form-control" id="id_{0}_title" maxlength="512"' +
                      '               type="text" value=""/></td>' +
                      '</tr>' +
                      '<tr>' +
                      '    <td>Content:&nbsp;&nbsp;</td>' +
                      '    <td><input class="ultext" type="hidden" id="id_{0}_text_hidden" name="{0}_text"' +
                      '               for="id_{0}_text" value=""/>' +
                      '       <textarea rows="5" style="width:100%; id="id_{0}_text"></textarea>' +
                      '    </td>' +
                      '</tr>' +
                      '</tbody>';
            return str.format('section_' + ct, 'Section ' + ct);
        };

        renameSections = function () {
            $('#section_table > tbody[id^="section_"]').each(function (i) {
                var name = 'section_' + ++i;
                var id = 'id_section_' + i;
                this.setAttribute('id', name);
                $(this).find('label').attr('for', 'id_' + name);
                $(this).find('label').text('Section ' + i);
                $(this).find('input[type="text"]').attr('id', id + '_title');
                $(this).find('textarea').attr('id', id + '_text');
                $(this).find('input[type="hidden"]').each(function () {
                    var postfix = '';
                    if (/_title$/.test(this.getAttribute('for'))) {
                        postfix = '_title';
                    } else if (/_text$/.test(this.getAttribute('for'))) {
                        postfix = '_text';
                    }

                    this.setAttribute('id', id + postfix + '_hidden');
                    this.setAttribute('for', id + postfix);
                    this.setAttribute('name', name + postfix);
                });
            });
        };

        $('#add_section').click(function () {
            counter++;
            $('#section_table > tbody:last').before(section(counter));
            renameSections();
        });

        $(document.body).on('click', '.close', function () {
            del = confirm("Remove section?")
            if (del) {
                $(this).parents('tbody')[0].remove();
                counter--;
                renameSections();
            }
        });

        {% block create_submit_event %}
        $('#create_submit').on('click', function(e) {
            $('.ultext').each(function () {
                this.value = $('#' + this.getAttribute('for')).val();
            });
        });
        {% endblock %}
    </script>
{% endblock %}