{% extends "base_sidebar_enclosed.html" %}
{% load bootstrap i18n gallant_tags static %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/angular-animate.js" %}"></script>
    <script src="{% static "js/xeditable.min.js" %}"></script>
    <script src="{% static "js/smart-table.js" %}"></script>
    <script src="{% static "js/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>
    <script src="{% static "js/ng-sortable.min.js" %}"></script>
    <script src="{% static "js/gallant.js" %}"></script>
    <script src="{% static "js/quotes.js" %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/xeditable.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable.style.min.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable.min.css" %}">


    <style>
        [name="name"] {
            width: 110px;
        }

        [name="quantity"] {
            width: 70px;
        }

        [name="amount"] {
            width: 70px;
        }

        .as-sortable-item {
            border: 0px;
        }

        .form-control {
            margin-bottom: 5px;
        }
    </style>

{% endblock %}


{% block extra_wrapper_attrs %} ng-app="quote" {% endblock %}

{% block messages %}
    <div gl-alerts></div>
    {{ block.super }}
{% endblock %}

{% block center_content %}
    {% if object.status >= "2" %}
        <div class="alert alert-info" role="alert">
            <p id="public_link" class="data">
                This quote has been sent and can no longer be modified.
                It is available to clients at the following link:<br/>
                http://{{ request.get_host }}{% url 'quote_detail' token=object.token.hex %}
            </p>
        </div>
    {% endif %}
    <div ng-controller="glFormController"
         ng-init="init('{% firstof language LANGUAGE_CODE %}', '{{ csrf_token }}')">
        <div qt-quote-form quote-id="{{ object.pk |default_if_none:"" }}" quote="object" endpoint="objectEndpoint"
             language="currentLanguage" forms="forms" delete-object="deleteObject" submit="submitForm"
             client-id="{{ client.id }}" project-id="{{ project.id }}" quote-id="{{ quote.id|default_if_none:"" }}"
             bool-template="False" template-id="{{ template_id }}" user-id="{{ user.id }}"
             service-currency="{{ user.currency }}">
        </div>
    </div>

{% endblock %}



{% block form_actions %}



{% endblock %}

{% block extra_body %}

{% endblock %}