{% extends "base_sidebar_enclosed.html" %}
{% load bootstrap i18n section_javascript gallant_tags static %}
{% load static %}

{% block ng_app %} ng-app="quote" {% endblock %}

<a>
    <button type="button" class="btn btn-default sidebar" id="add_quote">
        {% trans "Use For New Quote" %}
    </button>
</a>

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/xeditable/xeditable.min.js" %}"></script>
    <script src="{% static "js/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "djangular/js/django-angular.min.js" %}"></script>
    <script src="{% static "gallant/js/directives/glForm.js" %}"></script>
    <script src="{% static "gallant/js/controllers/glFormController.js" %}"></script>
    <script src="{% static "quotes/js/controllers/qtQuoteListController.js" %}"></script>
    <script src="{% static "quotes/js/controllers/qtPopoverController.js" %}"></script>     
    <script src="{% static "quotes/js/services/qtServices.js" %}"></script>
    <script src="{% static "quotes/js/directives/qtForm.js" %}"></script>
    <script src="{% static "quotes/js/apps/quotes.js" %}"></script>
    <script src="{% static "js/ng-sortable/ng-sortable.min.js" %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script> 
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/xeditable/xeditable.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable/ng-sortable.style.min.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable/ng-sortable.min.css" %}">


    <style>
        [name="name"]{
           width: 110px;
        }
        [name="quantity"]{
           width: 70px;
        }
        [name="amount"]{
           width: 70px;
        }
    </style>
    
{% endblock %}

{% block center_content %}

    <div class="row">

        <div ng-controller="glFormController"
             ng-init="init('{% firstof language LANGUAGE_CODE %}', '{{ csrf_token }}')">
            <div qt-quote-form quote-id="{{ object.pk |default_if_none:"" }}"  quote="object" endpoint="objectEndpoint"
                 language="currentLanguage" forms="forms"
                 client-id="{{ client.id }}" project-id="{{ project.id }}" quote-id="{{ quote.id|default_if_none:"" }}"
                 template-id="{{ template_id }}" user-id="{{user.id}}">
            </div> 

        <div id="form_actions">
          <div class="row">
              <div class="col-lg-12">
                  <div class="form-actions">
                          <button id="create_submit" class="btn btn-default pull-left" type="submit"
                                  ng-click="submitForm()">
                              {{ submit_text|default:_("Save") }}
                          </button>
                  </div>
              </div>
          </div>
          </div>

        </div>
    </div>

{% endblock %}



{% block form_actions %}



{% endblock %}

{% block extra_body %}

{% endblock %}