{% extends "base_sidebar_enclosed.html" %}
{% load bootstrap i18n %}

{% block section_title %}
    {% trans "Quote Template" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block center_content %}

    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
            <h2 class="section_title">{{ object.quote.name }}</h2>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 action_box">
            <a href="{% url 'edit_quote_template' object.id %}" class="edit_button" title="{% trans "Edit" %}">
                <button id="section_edit" type="button" class="btn btn-default edit_button" aria-label="Edit">
                    <span class="glyphicon glyphicon-edit"/>
                </button>
            </a>
            <a href="{% url 'delete_quote_template' object.id %}" class="delete_button" title="{% trans "Delete" %}" onclick="return confirm('{% trans "Are you sure?" %}')"> 
                <button id="section_delete" type="button" class="btn btn-default delete_button" aria-label="Delete"> 
                    <span class="glyphicon glyphicon-trash"/> 
                </button>
            </a> 

        </div>
    </div>

    <h2 class="section_title">
        {% trans 'Quote Sections' %}
    </h2>

    <hr>


    {% if object.quote.all_sections|length == 0 %}

        <a href="{% url 'edit_quote_template' object.id %}">{% trans "Click here to add sections." %}</a>

        <hr>

    {% endif %}

    {% for section in object.quote.all_sections %}
        <div id="{{ section.name }}">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            {{ section.display_title }}:
                        </p>
                    </div>
                </div>

                {% if section.service %}
                    {% with service=section.service %}
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="section_subtitle service_name">
                                    {{ service.name.get_text }}
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                <p>
                                    Type:
                                </p>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                                <p class="service_type">
                                    {{ service.get_type_display }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                <p>
                                    Description:
                                </p>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                                <p class="service_description">
                                    {{ service.description.get_text|linebreaks }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                <p>
                                    Cost:
                                </p>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                                <p class="service_cost">
                                    {{ service.cost }} &times; {{ service.quantity }}
                                </p>
                            </div>
                        </div>
                    {% endwith %}

                {% else %}

                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="section_subtitle">
                                {{ section.title.get_text }}
                            </h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                {{ section.text.get_text|linebreaks }}
                            </p>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>

        <hr>

    {% endfor %}

{% endblock %}