{% extends "gallant/create_form.html" %}
{% load bootstrap i18n %}


{% block extra_form_inputs %}
    <table id="section_table" width="500">
        <tbody>
            <tr><td>
                <label class="control-label  " for="id_intro">Intro</label>
                <sup style="cursor: pointer">&nbsp;[X]</sup>
            </td></tr>
            <tr>
                <td>Title:&nbsp;&nbsp;</td>
                <td><input class=" form-control" id="id_intro" maxlength="512"
                       name="intro_title" type="text" value="{{ object.intro.title.get_text }}" /></td>
            </tr>
            <tr>
                <td>Content:&nbsp;&nbsp;</td>
                <td><textarea name="intro_text" rows="5" style="width:100%;">{{ object.intro.text.get_text }}</textarea></td>
            </tr>
        </tbody>
        <tbody>
            <tr><td>
                <label class="control-label  " for="id_margin_section">Margin Section</label>
                <sup style="cursor: pointer">&nbsp;[X]</sup>
            </td></tr>
            <tr>
                <td>Title:&nbsp;&nbsp;</td>
                <td><input class=" form-control" id="id_margin_section" maxlength="512"
                       name="margin_section_title" type="text" value="{{ object.margin_section.title.get_text }}" /></td>
            </tr>
            <tr>
                <td>Content:&nbsp;&nbsp;</td>
                <td><textarea name="margin_section_text" rows="5" style="width:100%;">{{ object.margin_section.text.get_text }}</textarea></td>
            </tr>
        </tbody>
        <tr>
            <td></td>
            <td><button type="button" id="add_section" class="btn btn-default" style="float: right">Add Section</button></td>
        </tr>
    </table>
{% endblock %}

{% block extra_body %}
<script>
    counter = 0;
    section = function(ct) {
        return '<tbody>' +
        '<tr><td>' +
        '   <label class="control-label  " for="id_intro">Section ' + ct + '</label>' +
        '   <sup style="cursor: pointer">&nbsp;[X]</sup>' +
        '</td></tr>' +
        '<tr><td></td></tr>\n' +
        '<tr>\n' +
        '    <td>Title:&nbsp;&nbsp;</td>\n' +
        '    <td><input class=" form-control" id="id_intro" maxlength="512"\n' +
        '           name="section_' + ct + '_title" type="text"/></td>\n' +
        '</tr>\n' +
        '<tr>\n' +
        '    <td>Content:&nbsp;&nbsp;</td>\n' +
        '    <td><textarea name="section_' + ct + '_text" rows="5" style="width:100%;"></textarea></td>\n' +
        '</tr>\n' +
        '</tbody>';
    }

    $('#add_section').click(function() {
        counter++;
        $('#section_table > tbody:last').before(section(counter))
    });

    $(document.body).on('click', 'sup', function() {
        del = confirm("Remove section?")
        if (del) {
            $(this).parents('tbody')[0].remove();
        }
    });
</script>
{% endblock %}