{% extends "base_sidebar.html" %}
{% load bootstrap i18n %}

{% block section_title %}
    {% trans "Quote" %}
{% endblock %}

{% block sidebar %}
    <a href="{% url 'edit_quote' object.id %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Edit Quote" %}
        </button>
    </a>
    <a href="{% url 'quote_pdf' object.id %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Download Quote" %}
        </button>
    </a>
    <a href="{% url 'add_quote_template' quote_id=object.id %}">
        <button type="button" class="btn btn-default sidebar" title="Create template from this quote.">
            {% trans "Use as Template" %}
        </button>
    </a>
    <a href="{% url 'quotes' %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Back to Quotes" %}
        </button>
    </a>
{% endblock %}

{% block center_content %}

    <h2 class="section_title">{% trans "Quote Data" %}</h2>

    <p id="name" class="data">{% trans "Name" %}: {{ object.name }}</p>
    <p id="client" class="data">{% trans "Client" %}: {{ object.client.name }}</p>
    <p id="status" class="data">{% trans "Status" %}: {{ object.get_status_display }}</p>

    <br/>

    <h2 class="section_title">
    Quote Sections
    </h2>

    <hr>

    {% for section in object.all_sections %}
        <div id="{{ section.name }}">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            {{ section.display_title }}:
                        </p>
                    </div>
                </div>

                {% if section.service %}
                    {% with service=section.service %}
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="section_subtitle service_name">
                                    {{ service.name.get_text }}
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                <p>
                                    Type:
                                </p>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                                <p class="service_type">
                                    {{ service.get_type_display }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                <p>
                                    Description:
                                </p>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                                <p class="service_description">
                                    {{ service.description.get_text }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                <p>
                                    Cost:
                                </p>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                                <p class="service_cost">
                                    {{ service.cost }} &times; {{ service.quantity }}
                                </p>
                            </div>
                        </div>
                    {% endwith %}

                {% else %}

                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="section_subtitle">
                                {{ section.title.get_text }}
                            </h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                {{ section.text.get_text }}
                            </p>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>

        <hr>
    {% endfor %}
{% endblock %}