<tbody id="{{ name }}" class="section {{ extra_class }}">
<tr>
    <td>
        <label class="control-label  " for="id_{{ name }}">{% firstof label section.display_title %}</label>
    </td>
    {% if section.name != 'intro' and section.name != 'margin' %}
    <td>
        <button id="{{ name }}_remove" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </td>
    {% endif %}
</tr>
{% if section.id %}
<input type="hidden" id="id_{{ name }}_id" name="{{ name }}_id" value="{{ section.id }}"/>
{% endif %}
<tr class="section_title">
    <td>Title:&nbsp;&nbsp;</td>
    <td><input class="ultext" type="hidden" id="id_{{ name }}_title_hidden" name="{{ name }}_title"
               for="id_{{ name }}_title" value="{{ section.title.json }}"/>
        <input class="form-control" id="id_{{ name }}_title" maxlength="512"
               type="text" value=""/></td>
</tr>
<tr class="section_text">
    <td>Content:&nbsp;&nbsp;</td>
    <td><input class="ultext" type="hidden" id="id_{{ name }}_text_hidden" name="{{ name }}_text"
               for="id_{{ name }}_text" value="{{ section.text.json }}"/>
        <textarea rows="5" style="width:100%;" id="id_{{ name }}_text"></textarea>
    </td>
</tr>
</tbody>