<div id="{{ prefix }}" class="section service {{ extra_class }}">
    <div class="row margin-bottom-10">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <label class="control-label" for="id_{{ prefix }}">
                <h3 class="section_title">
                    {% firstof section.display_title label %} - Service
                </h3>
            </label>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <button id="{{ prefix }}remove" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% if section.pk %}
        <input type="hidden" class="section_id" id="id_{{ prefix }}id" name="{{ prefix }}id" value="{{ section.pk }}"/>
    {% endif %}
    <input type="hidden" class="section_name" id="id_{{ prefix }}section_name" name="{{ prefix }}section_name" value="{% firstof name section.name %}"/>
    <input class="section_index" type="hidden" id="id_{{ prefix }}index" name="{{ prefix }}index" value="{{ section.index }}"/>
    {% with service=form.instance %}

        <div class="row form-group service_name margin-bottom-10 {% if form.name.errors %}has-error{% endif %}">
            <div class="col-lg-2">
                <label for="title" class="control-label form_label">
                    Name:
                </label>
            </div>
            <div class="col-lg-10 ">
                <input class="ultext" type="hidden" id="id_{{ prefix }}name_hidden" name="{{ prefix }}name" for="id_{{ prefix }}name" value="{{ service.name.json }}"/>
                <input class="form-control ultext_target" id="id_{{ prefix }}name" maxlength="512" type="text" value="" />
            </div>
            <span class="help-block ">{{ form.name.errors.as_text }}</span>
        </div>

        <div class="row service_description margin-bottom-10">
            <div class="col-lg-2">
                <label for="title" class="form_label">
                    Description:
                </label>
            </div>
            <div class="col-lg-10">
                <input class="ultext" type="hidden" id="id_{{ prefix }}description_hidden" name="{{ prefix }}description" for="id_{{ prefix }}description" value="{{ service.description.json }}"/>
                <textarea class="ultext_target" rows="5" style="width:100%;" id="id_{{ prefix }}description"></textarea>
            </div>
        </div>

        <div class="row service_cost margin-bottom-10 form-group  {% if form.cost.errors %}has-error{% endif %}">
            <div class="col-lg-2">
                Cost:&nbsp;&nbsp;
            </div>
            <div class="col-lg-10">
                <input class=" form-control" id="id_{{ prefix }}cost" name="{{ prefix }}cost_0" step="1" type="number" value="{% firstof service.cost.amount '0.0' %}" min="0" onchange="validate_positive_value($(this));" />
                <input type="hidden" name="{{ prefix }}cost_1" value="USD"/>
                <span class="help-block ">{{ form.cost.errors.as_text }}</span>
            </div>
        </div>

        <div class="row service_quantity margin-bottom-10">
            <div class="col-lg-2">
                Quantity:&nbsp;&nbsp;
            </div>
            <div class="col-lg-10">
                <input class=" form-control" id="id_{{ prefix }}quantity" name="{{ prefix }}quantity" step="1" type="number" value="{% firstof service.quantity '0' %}" min="0" onchange="validate_positive_value($(this));" />
            </div>
        </div>

        <div class="row service_type margin-bottom-10 form-group {% if form.type.errors %}has-error{% endif %}">
            <label class="control-label col-lg-2" for="id_client">Type:</label>
            <div class="col-lg-10">
                <select class=" form-control" id="id_{{ prefix }}type" name="{{ prefix }}type">
                    <option value="" {% if '' == service.type %}selected="selected"{% endif %}>---------</option>
                    {% for value, text in type_choices %}
                        <option value="{{ value }}" {% if value == service.type %}selected="selected"{% endif %}>{{ text }}</option>
                    {% endfor %}
                </select>
                <span class="help-block ">{{ form.type.errors.as_text }}</span>
            </div>
        </div>

    {% endwith %}
</div>