{% extends "base.html" %}
{% load staticfiles bootstrap i18n gallant_tags %}

{% block extra_head %}

    <script>
        $(document).ready(function () {
            $("#feedback").animate({
                bottom: '-' + (($('#feedback').height() / 2) - 20) + 'px'
            }, 2000);

            $(".action-button.dropdown-toggle").dropdown();
        });
    </script>

{% endblock extra_head %}

{% block body %}

    <div class="page-wrapper" {% block extra_wrapper_attrs %}{% endblock %}>

        {% block header_div %}
            <header class="header-5">
                <div class="container">
                    <div class="row">
                        {% block navbar %}
                            <nav class="navbar col-lg-12 col-md-12 col-sm-12 col-xs-12" role="navigation">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                                    <a class="brand" href="/">{{ site.name }} <span>Beta</span></a>
                                </div>
                                <div id="menu" class="collapse navbar-collapse">
                                    <ul class="nav pull-right" id="dropdown-menu">
                                        {% if user.is_authenticated %}
                                            <li class="dropdown-menu-element">
                                                <a href="{% url 'clients' %}">{% trans 'Clients' %}</a>
                                            </li>
                                            <li class="dropdown-menu-element">
                                                <a href="{% url 'quotes' %}">{% trans 'Quotes' %}</a>
                                            </li>
                                            <li class="dropdown-menu-element">
                                                <a href="{% url 'calendr' %}">{% trans 'Projects' %}</a>
                                            </li>
                                            <li class="dropdown-menu-element" id="account-settings-menu-element">
                                                <a href="{% url 'account_change_password' %}">{% trans 'Account' %}</a>
                                            </li>
                                            <li class="dropdown-menu-element" id="account-settings-menu-element">
                                                <a href="{% url 'account_logout' %}">{% trans 'Signout' %}</a>
                                            </li>
                                            <li class="btn-group dropdown-menu-element" id="settings-toggle-group">
                                                <button type="button" class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                        id="settings-toggle">
                                                    <span class="glyphicon glyphicon-cog"></span>
                                                </button>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="{% url 'account_change_password' %}">{% trans 'Account' %}</a>
                                                    </li>
                                                    <li><a href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a>
                                                    </li>
                                                </ul>
                                            </li>

                                        {% else %}
                                            {% comment %}
                                                <li><a href="">{% trans 'Features' %}</a></li>
                                                <li><a href="">{% trans 'Pricing' %}</a></li>
                                                <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                                            {% endcomment %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </nav>
                        {% endblock %}
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <button type='button' class='close' data-dismiss='alert'>&times;</button>
                    {{ message }}</div>
            {% endfor %}
        {% endblock %}

        {% url 'home' as home_url %}
        {% if request.get_full_path != home_url %}

            {% block sub_header %}
                <div class="container">
                    <div class="row">
                        {% if user.is_authenticated %}
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 pull-right">
                                <div class="logged_in_as" id="logged_in_as">
                                    <a href="{% url 'account_change_password' %}">{{ user }}</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                            <h2 class="app_title">
                                {% block section_title %}
                                    {% firstof title 'Menu' %}
                                {% endblock section_title %}
                            </h2>
                        </div>
                        {% block breadcrumbs %}
                            <div id="breadcrumbs" class="col-xs-12 col-sm-12 col-md-12 {% if user.is_authenticated %}col-lg-5{% else %}col-lg-10{% endif %}">
                                <div class="breadcrumbs">
                                    {% for breadcrumb in request.breadcrumbs %}
                                        <a href="{{ breadcrumb.url }}" {% if forloop.last %}class="active"{% endif %}>{{ breadcrumb.name }}</a>
                                        {% if not forloop.last %} <span>/</span> {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

        {% endif %}

        {% block content_div %}
            <section class="content-1">
                <div class="holder v-center">
                    <div class="container">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </section>
        {% endblock %}

        {% block footer_div %}
            <footer class="footer-3">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-4 col-xs-12">
                            {% trans 'Features' %}<br>
                            {% trans 'Pricing' %}<br>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <a href="https://www.facebook.com/galant.co" target="_blank">{% trans 'Facebook' %}</a><br>
                            <a href="https://www.twitter.com/galantapp" target="_blank">{% trans 'Twitter' %}</a><br>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            {% trans 'Copyright Medulla Inc.' %} © {% now "Y" %}<br>
                            {% trans 'Terms & Conditions' %}<br>
                            {% trans 'Privacy Policy' %}
                        </div>

                    </div>
                </div>
            </footer>
        {% endblock %}

    </div>

    <div id="base_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="section_title"></h2>
                </div>
                <div class="modal-body" style="height: 500px; overflow: auto;">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="feedback">
        <a>{% trans "Feedback" %}</a>
    </div>

    <script>
        $(document).ready(function () {

            $('#logged_in_as').height($('.breadcrumbs').height());
            $('#logged_in_as a').css("margin-left", -$('#logged_in_as a').width() / 2 + 'px');
            $('#logged_in_as a').css("margin-top", -$('#logged_in_as a').height() / 2 + 'px');

            $('ul [data-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });
        });

        $('#feedback').click(function () {
            var app_title = $('.app_title').text().trim();
            if (app_title.length == 0) {
                app_title = "Main";
            }
            $.get("{% url 'feedback' %}?app_title=" + app_title, function (data) {
                $('#base_modal .section_title').html("Leave Feedback");
                $('#base_modal .modal-body').html(data);
                $('#base_modal #form').submit(function () {
                    $.post("{% url 'feedback' %}?path={{ request.path }}",
                            $(this).serialize(), function () {
                                $('#base_modal').modal('hide');
                                location.reload(true);
                            });
                    return false;
                });
                $('#base_modal').modal('show');
            });
        });
    </script>
{% endblock body %}