{% extends "base.html" %}
{% load staticfiles bootstrap i18n gallant_tags %}


{% block extra_head %}

    <script>
        $(document).ready(function () {
            $("#feedback").animate({
                right: '-' + (($('#feedback').width() / 2) - 20) + 'px'
            }, 1000);

        });
    </script>

{% endblock extra_head %}

{% block body %}

    <div class="page-wrapper">

        <header class="header-5">
            <div class="container">
                <div class="row">
                    <nav class="navbar col-sm-12" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="/">{{ site.name }}</a>
                        </div>

                        <div id="menu" class="collapse navbar-collapse">
                            <ul class="nav pull-right">
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'clients' %}">{% trans 'Clients' %}</a></li>
                                    <li><a href="{% url 'quotes' %}">{% trans 'Quotes' %}</a></li>
                                    <li><a href="{% url 'projects' %}">{% trans 'Projects' %}</a></li>
                                    <li class="btn-group" id="settings-toggle-group">

                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                id="settings-toggle">
                                            <span class="glyphicon glyphicon-cog"></span>
                                        </button>

                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'account_change_password' %}">{% trans 'Account' %}</a>
                                            </li>
                                            <li><a href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a></li>
                                        </ul>

                                    </li>

                                {% else %}
                                    {% comment %}
                                        <li><a href="">{% trans 'Features' %}</a></li>
                                        <li><a href="">{% trans 'Pricing' %}</a></li>
                                        <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                                    {% endcomment %}
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        {% block messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <button type='button' class='close' data-dismiss='alert'>&times;</button>
                    {{ message }}</div>
            {% endfor %}
        {% endblock %}

        {% url 'home' as home_url %}
        {% if request.get_full_path != home_url %}

            <div class="container">
                <div class="row">
                    {% if user.is_authenticated %}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 pull-right">
                            <div class="logged_in_as" id="logged_in_as">
                                <a href="{% url 'account_change_password' %}">{{ user }}</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                        <h2 class="app_title">
                            {% block section_title %}
                                {% firstof title 'Menu' %}
                            {% endblock section_title %}
                        </h2>
                    </div>
                    <div id="breadcrumbs" class="col-xs-12 col-sm-12 col-md-12 {% if user.is_authenticated %}col-lg-5{% else %}col-lg-10{% endif %}">
                        <div class="breadcrumbs">
                            {% for breadcrumb in request.breadcrumbs %}
                                <a href="{{ breadcrumb.url }}" {% if forloop.last %}class="active"{% endif %}>{{ breadcrumb.name }}</a>
                                {% if not forloop.last %} <span>/</span> {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        <section class="content-1">
            <div class="holder v-center">
                <div class="container">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </section>

        <footer class="footer-3">
            <div class="container">
                <div class="row">

                    <div class="col-sm-4 col-xs-12">
                        {% trans 'Features' %}<br>
                        {% trans 'Pricing' %}<br>
                        <a href="{% url 'contact' %}">{% trans 'Contact' %}</a>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        {% trans 'Facebook' %}<br>
                        {% trans 'Twitter' %}<br>
                        {% trans 'Blog' %}
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        {% trans 'Copyright Medulla Inc.' %} © {% now "Y" %}<br>
                        {% trans 'Terms & Conditions' %}<br>
                        {% trans 'Privacy Policy' %}
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <div id="base_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="section_title"></h2>
                </div>
                <div class="modal-body" style="height: 500px; overflow: auto;">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="feedback">
        <a>{% trans "Feedback" %}</a>
    </div>

    <script>
        $(document).ready(function () {

            $('#logged_in_as').height($('.breadcrumbs').height());
            <<<<<<<
            HEAD
            $('#logged_in_as a').css("margin-left", -$('#logged_in_as a').width() / 2 + 'px');
            $('#logged_in_as a').css("margin-top", -$('#logged_in_as a').height() / 2 + 'px');
            ======
            =
                    $('#logged_in_as a').css("margin-left", -$('#logged_in_as a').width() / 2 + 'px');
            $('#logged_in_as a').css("margin-top", -$('#logged_in_as a').height() / 2 + 'px');
            >>>>>>>
            151387
            f909a9f62945c4dfaeaac67e7474cb3264

            $('ul [data-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });
        });

        $('#feedback').click(function () {
            var app_title = $('.app_title').text().trim();
            if (app_title.length == 0) {
                app_title = "Main";
            }
            $.get("{% url 'feedback' %}?app_title=" + app_title, function (data) {
                $('#base_modal .section_title').html("Leave Feedback");
                $('#base_modal .modal-body').html(data);
                $('#base_modal #form').submit(function () {
                    $.post("{% url 'feedback' %}?path={{ request.path }}",
                            $(this).serialize(), function () {
                                $('#base_modal').modal('hide');
                                location.reload(true);
                            });
                    return false;
                });
                $('#base_modal').modal('show');
            });
        });
    </script>
{% endblock body %}
