<div class="row">

    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
        <div ng-show="showViews()">
            <span class="label label-success" uib-tooltip="Views" tooltip-placement="right"> {{ quote.views }} </span><br>
            <span class="label label-success" uib-tooltip="Seconds" tooltip-placement="right"> {{ quote.session_duration }}</span>
        </div>

        <h2 e-class="form-control" e-id="quote_name" editable-text="quote.name" class="section_title" e-form="quoteform"
            e-required>{{ quote.name }}</h2>
    </div>

    <div ng-show="showEdit()">
        <!-- form -->
        <form editable-form name="quoteform" ng-show="quoteform.$visible" class="form-buttons form-inline" shown="False">
            <button id="save_quote" type="submit" ng-disabled="quoteform.$waiting" class="btn btn-default save_button">
                <span class="glyphicon glyphicon-floppy-disk" </span>
            </button>
            <button id="cancel_quote" type="button" ng-disabled="quoteform.$waiting" ng-click="quoteform.$cancel()"
                    class="btn btn-default save_button">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </form>

        <div class="buttons" ng-show="!quoteform.$visible">
            <button id="edit_quote" class="btn btn-default edit_button" ng-click="quoteform.$show()" ng-if="idType != 'token'">
                <span class="glyphicon glyphicon-edit"/>
            </button>
            <button id="section_delete" type="button" class="btn btn-default delete_button" aria-label="Delete"
                    ng-click="deleteObject()" ng-if="idType != 'token'">
                <span class="glyphicon glyphicon-trash"/>
            </button>
        </div>
    </div>
</div>

<div class="row object_data" ng-show="showClient()">
    <div class="col-lg-6">
        <p ng-required="true" e-class="form-control" e-name="client" class="data" editable-select="quote.client" e-form="quoteform"
           e-required e-ng-options="s.id as s.name for s in clients"><span class="detail_title">Client</span>
            {{ (clients | filter:{id: quote.client})[0].name }} </p>
        <br>
        <p e-class="form-control" id="status" class="data" editable-select="quote.status" e-form="quoteform" e-required e-ng-options="key as val for (key, val) in quoteStatus" >
           <span class="label label-default">{{ quoteStatus[quote.status] }}</span>
        </p>
    </div>
</div>

<br>

<div>
    <script type="text/ng-template" id="translationTemplate.html">
        <select id="id_language" class="form-control" ng-model="language"
                ng-options="key as val for (key, val) in quoteLanguage"></select>
        <button ng-click="addLanguage(language)" id="language_add" type="button" class="btn btn-default">Add</button>
    </script>

    <script type="text/ng-template" id="languageForm.html">
          <gl-language-form></gl-language-form>
    </script>

    <div ng-show="boolTemplate == 'True'">
        <ul id="tabs" class="nav nav-tabs" style="margin-bottom: -1px; border-bottom: 0">
            <li ng-repeat="lang in quoteTemplate.languages"
                 data="{{ lang.code }}">
                <a id="{{ lang.code }}_tab" ng-click="setLanguage(lang.code)">
                    {{ lang.name }}
                </a>
            </li>
            <li id="add_translation">
                 <a class="btn" id="add_translation_button"
                        popover-placement="bottom" uib-popover-template="'languageForm.html'" popover-trigger="outsideClick">Add Translation
                </a> 
            </li>
        </ul>
    </div>

    <div qt-service-table></div>

    <div qt-section-table></div>

    <div class="row" ng-show="showEdit()">
        <div class="col-lg-12">
            <button type="button" id="add_service" class="btn btn-default pull-right margin-left-10"
                    popover-placement="bottom" uib-popover-template="dynamicPopover.serviceTemplateUrl"
                    popover-trigger="focus">Add Service
            </button>

            <button type="button" id="add_section" class="btn btn-default pull-right" ng-click="addSection()">Add
                Section
            </button>
        </div>
    </div>

    <script type="text/ng-template" id="serviceTemplate.html">
        <a ng-click="open()">
            <button id="service_from_template" type="button" class="btn btn-default from_scratch_button sidebar">From
                Template
            </button>
        </a>
        <a ng-click="addService()">
            <button id="service_from_scratch" type="button" class="btn btn-default from_scratch_button sidebar">From
                Scratch
            </button>
        </a>
    </script>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h2 class="section_title">Select a Service</h2>
        </div>
        <div class="modal-body">
            <table st-table="templates" st-safe-src="quoteTemplates" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="quantity">Quantity</th>
                    <th st-sort="language">Type</th>
                    <th st-sort="language">Unit Price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="service in services" ng-click="addService(service)" style="cursor: pointer">
                    <td>{{ service.name[language] }}</td>
                    <td>{{ service.quantity }}</td>
                    <td>{{ showType(service) }}</td>
                    <td>{{ service.cost.amount }}</td>
                </tr>
                <tr ng-if="services.length == 0">
                    <td colspan="4">
                        No services yet.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </script>
</div>


