 <tr ng-repeat="template in quoteTemplates" ng-click="redirectTemplate(template)" style="cursor: pointer">
    <td>{{ template.quote.name }}</td>
    <td>{{ template.quote.modified | date:'y-M-d h:m'  }}</td>
    <td ng-click="$event.stopPropagation()">
        <select ng-if="template.languages" class="template_lang form-control" name="language" ng-change="languageSelection(template, selectedLanguage)" ng-model="selectedLanguage">
                <option ng-repeat="language in template.languages" value="{{ language.code }}">{{ language.name }}</option>
        </select>
    </td>
</tr>
<tr ng-if="quotes.length == 0">
    <td colspan="4">
        No quotes yet.
    </td>
</tr>