<div class="enclosed">

    <h2 class="section_title">
        Quote Sections
    </h2>

    <hr/>

    <ul data-as-sortable="dragControlListeners" data-ng-model="quote.sections" is-disabled="quoteform.$visible">
        <li data-ng-repeat="section in quote.sections" data-as-sortable-item>
            <div id="section_{{$index}}" class="row">

                <div class="col-lg-12">

                    <div class="row">
                        <div class="col-lg-12" ng-click="isCollapsed = !isCollapsed">
                            <p id="name_{{$index}}">
                                {{ section.name }}:
                            </p>
                        </div>
                    </div>

                    <div class="row" uib-collapse="isCollapsed">
                        <div class="col-lg-10">
                            <h2 e-id="title_{{$index}}" e-class="form-control" data-inputclass="form-control"
                                class="section_subtitle" editable-text="section.title[language]" e-form="quoteform"
                                e-required e-placeholder="Section Title" onbeforesave="validate.nonEmpty($data)">
                                {{ section.title[language] || 'empty' }}
                            </h2>
                            <p e-id="text_{{$index}}" e-class="form-control" data-inputclass="form-control"
                               editable-textarea="section.text[language]" e-name="text" e-form="quoteform" e-required
                               e-placeholder="Text" onbeforesave="validate.nonEmpty($data)">

                                <pre ng-init="limit = 100; moreShown = false" ng-hide="quoteform.$visible">{{ section.text[language] | cut:true:limit:'...'}}<br/><br/><a ng-show="section.text[language].length > limit" href ng-click="showSection(section);limit=section.text[language].length; moreShown = true">More</a><a href ng-show="moreShown" ng-click="limit=100; moreShown = false"> Less </a></pre>
                            </p>

                        </div>

                        <div class="col-lg-2" ng-show="quoteform.$visible">
                            <button id="section{{ $index }}_move" type="button" class="btn btn-default move_button"
                                    as-sortable-item-handle>
                                <span class="glyphicon glyphicon-move"/>
                            </button>
                            <button id="section{{ $index }}_delete" type="button" class="btn btn-default delete_button" aria-label="Delete"
                                    ng-click="removeSection($index)">
                                <span class="glyphicon glyphicon-trash"/>
                            </button>
                            <p ng-show="showViews()">
                            <span class="label label-default" uib-tooltip="Times Expanded"
                                  tooltip-placement="right">{{ section.views }} times expanded</span>
                            </p>
                        </div>
                    </div>
                    <hr/>
                </div>

            </div>
        </li>
    </ul>
</div>