<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
        <h2 id="name" editable-text="quote.name" class="section_title" e-form="quoteform" e-required>{{ quote.name }}</h2>
    </div>
    <!-- form -->
    <div>
    </div>

<form editable-form name="quoteform" ng-show="quoteform.$visible" class="form-buttons form-inline" shown="False">
 <button type="submit" ng-disabled="quoteform.$waiting" class="btn btn-default save_button">
   <span class="glyphicon glyphicon-floppy-disk"</span>
   </button>
   <button type="button" ng-disabled="quoteform.$waiting" ng-click="quoteform.$cancel()" class="btn btn-default save_button">
       <span class="glyphicon glyphicon-remove"></span>
       </button>
   </form>
   <div class="buttons" ng-show="!quoteform.$visible">
     <button class="btn btn-default edit_button" ng-click="quoteform.$show()">
       <span class="glyphicon glyphicon-edit"/>
   </button>
   <a href="{% url 'delete_quote' object.id %}" class="delete_button" title="Delete" onclick="return confirm('Are you sure?')">
      <button id="section_delete" type="button" class="btn btn-default delete_button" aria-label="Delete">
      <span class="glyphicon glyphicon-trash" ></span>
      </button>
   </a>
</div> 
</div>
<div class="row object_data">
    <div class="col-lg-6">
        <p id="client" class="data" editable-select="quote.client"  e-form="quoteform" e-required e-ng-options="s.id as s.name for s in clients"><span class="detail_title">Client</span> {{ (clients | filter:{id: quote.client})[0].name }} </p>
        <br>
        <p id="status" class="data" editable-select="quote.status"  e-form="quoteform" e-required e-ng-options="s.value as s.text for s in quoteStatus"><span class="label label-default">{{ quoteStatus[quote.status].text  }}</span></p>
    </div>
</div>
<br>
<div id="center_content_enclosed">

<uib-tabset ng-if=" !language && language_list.length > 0" id="tabs" class="nav nav-tabs" style="margin-bottom: -1px; border-bottom: 0">
    <uib-tab ng-click="changeLanguage(language)" id="en_tab" ng-repeat="language in language_list" heading="{{language[1]}}" active="tab.active" >
    </uib-tab>
    <uib-tab id="add_translation_button" popover-placement="bottom" uib-popover-template="dynamicPopover.templateUrl" heading="Add Translation" active="tab.active" >
    </uib-tab>
</uib-tabset>

<script type="text/ng-template" id="myPopoverTemplate.html">
    <select class=" form-control" ng-model="language" ng-options="lang.value as lang.text for lang in quoteLanguage"></select>
    <button ng-click="addLanguage(language)" id="language_add" type="button" class="btn btn-default">Add</button>
</script>


<br>
<h2 class="section_title">
    Services
</h2> 
<hr> 

<div class="row">
    <div class="col-xs-offset-0 col-xs-2 section_content">
        <p>
            <strong>Service</strong>
        </p>
    </div>
    <div class="col-xs-2 section_content">
        <p>
            <strong>Quantity</strong>
        </p>
    </div>
    <div class="col-xs-2 section_content">
        <p>
            <strong>Type</strong>
        </p>
    </div>
    <div class="col-xs-2 section_content">
        <p>
            <strong>Unit Price</strong>
        </p>
    </div>
    <div class="col-xs-2 section_content">
        <p>
            <strong>Subtotal</strong>
        </p>
    </div>
    <div class="col-xs-2 section_content">
        <p>
            <strong></strong>
        </p>
    </div>
</div>
<div ng-repeat="service in quote.services">
    <div class="row">
        <div class="col-xs-offset-0 col-xs-2 section_content">
            <div data-inputclass="selector" editable-text="service.name[language]" e-name="name" e-form="rowform" e-required>
                {{ service.name[language] || 'empty' }}
            </div>
        </div>
        <div class="col-xs-2 section_content">
            <div editable-text="service.quantity" e-name="quantity" e-form="rowform" e-required>
                {{ service.quantity || 'empty' }}
            </div>
        </div>
        <div class="col-xs-2 section_content">
            <div editable-select="service.type" e-name="type" e-form="rowform" e-ng-options="s.value as s.text for s in serviceFields">
                {{showType(service)}}
            </div>
        </div>       
        <div class="col-xs-2 section_content">
            <div editable-text="service.cost.amount" e-name="amount" e-form="rowform" e-required>
                {{ service.cost.amount || 'empty' }}
            </div>
        </div>
        <div class="col-xs-2 section_content">
            {{ service.cost.amount * service.quantity | currency }}
        </div>
        <!-- form -->
        <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == service">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default save_button">
            <span class="glyphicon glyphicon-floppy-disk">
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default save_button">
                <span class="glyphicon glyphicon-remove">
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-default edit_button" ng-click="rowform.$show()">
                <span class="glyphicon glyphicon-edit"/>
            </button>
            <button class="btn btn-default delete_button" ng-click="removeService($index)">
                <span class="glyphicon glyphicon-trash"/>
            </button>
        </div>  
    </div>
</div>


<div class="row">
    <div class="col-xs-offset-5 col-xs-2 section_content">
        <p>
            <strong>Total</strong>
        </p>
    </div>
    <div class="col-xs-2 section_content">
        <p>
            <strong>{{ getTotal() |currency }}</strong>
        </p>
    </div>
</div>

<br>
<br>

<h2 class="section_title">
    Quote Sections
</h2>
<hr>

<ul data-as-sortable="dragControlListeners" data-ng-model="quote.sections">
    <li data-ng-repeat="section in quote.sections | orderBy:'textsection.index'" data-as-sortable-item>
      <div as-sortable-item-handle class="as-sortable-item-handle" >
        <div class="row">
            <div class="col-lg-12" ng-click="isCollapsed = !isCollapsed">
                <p>
                    {{ section.name }}:
                </p>
            </div>
        </div>

        <div class="row" uib-collapse="isCollapsed">
            <div class="col-lg-8">
                <h2 class="section_subtitle" editable-text="section.title[language]" e-name="title" e-form="rowform" e-required>
                    {{ section.title[language] || 'empty' }}
                </h2>
                <br>
                <p editable-text="section.text[language]" e-name="text" e-form="rowform" e-required>
                    {{ section.text[language] || 'empty' }}
                </p>
            </div>

            <div class="col-lg-4">
              <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == section">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default save_button">
                  <span class="glyphicon glyphicon-floppy-disk">
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default save_button">
                      <span class="glyphicon glyphicon-remove ">
                      </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-default edit_button" ng-click="rowform.$show()">
                      <span class="glyphicon glyphicon-edit"/>
                  </button>
                  <button class="btn btn-default delete_button" ng-click="removeSection($index)">
                      <span class="glyphicon glyphicon-trash"/>
                  </button>
              </div> 
          </div>        
      </div>
  </div>
</li>
</ul>

<div id="section_table">
    <div class="row">
        <div class="col-lg-12">
            <button type="button" id="add_service" class="btn btn-default pull-right margin-left-10" ng-click="addService()">Add Service</button>
            <button type="button" id="add_section" class="btn btn-default pull-right" ng-click="addSection()">Add Section</button>
        </div>
    </div>
</div>


