<table class="table table-striped table-bordered">
    <thead>
    <th><b>Last Modified</b></th>
    <th><b>Client</b></th>
    <th><b>Quote</b></th>
    <th><b>Status</b></th>
    </thead>
    
    <tr ng-repeat="quote in quotes" style="cursor: pointer" class="quote_row" ng-click="quoteDetail(quote)">
        <td>{{ quote.modified|date:'y-M-d' }}</td>
        <td>{{ quote.client }}</td>
        <td>{{ quote.name }}</td>
        <td>{{ quote.status }}</td>
    </tr>
    <tr ng-if="">
        <td colspan="4">
            No quotes yet.
        </td>
    </tr>
</table>