<div class="enclosed">
    <h2 class="section_title">
        Services
    </h2>
    <div class="row">
        <div class="col-xs-offset-0 col-xs-2 section_content">
            <p>
                <strong>Service</strong>
            </p>
        </div>
        <div class="col-xs-2 section_content">
            <p>
                <strong>Quantity</strong>
            </p>
        </div>
        <div class="col-xs-2 section_content">
            <p>
                <strong>Type</strong>
            </p>
        </div>
        <div class="col-xs-2 section_content">
            <p>
                <strong>Unit Price</strong>
            </p>
        </div>
        <div class="col-xs-2 section_content">
            <p>
                <strong>Subtotal</strong>
            </p>
        </div>
        <div class="col-xs-2 section_content">
            <p>
                <strong></strong>
            </p>
        </div>
    </div>

    <div ng-repeat="service in quote.services" style="padding: 30px 0px 30px 0px;">
        <div class="row">
            <span ng-click="showRowForm(rowform)">
            <div class="col-xs-offset-0 col-xs-2 section_content">
                <div name="name" e-class="form-control" editable-text="service.name[language]"
                     e-id="service_name_{{$index}}" e-form="rowform" e-required>
                    {{ service.name[language] || 'empty' }}
                </div>
            </div>
            <div class="col-xs-2 section_content">
                <div e-class="form-control" editable-text="service.quantity" e-id="quantity_{{$index}}"
                     e-form="rowform" e-required>
                    {{ service.quantity || 'empty' }}
                </div>
            </div>
            <div class="col-xs-2 section_content">
                <div e-class="form-control" editable-select="service.type" e-id="type_{{$index}}" e-form="rowform"
                     e-ng-options="key as val for (key, val) in serviceFields">
                    {{ showType(service) }}
                </div>
            </div>
            <div class="col-xs-2 section_content">
                <div e-class="form-control" editable-text="service.cost.amount" e-id="amount_{{$index}}"
                     e-form="rowform" e-required>
                    {{ service.cost.amount || 'empty'}}
                </div>
            </div>
            <div class="col-xs-2 section_content">
                <p>
                    {{ service.cost.amount * service.quantity | currency }}
                </p>
            </div>
            <div class="col-xs-2 section_content" ng-show="showViews()">
                <span class="label label-success" uib-tooltip="Times Expanded" tooltip-placement="right">{{ service.views }}</span>
            </div>
            </span>

            <div ng-show="showEdit()">
                <!-- form -->
                <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == service">
                    <button id="save_service_{{$index}}" type="submit" ng-disabled="rowform.$waiting" class="btn btn-default save_button">
                        <span class="glyphicon glyphicon-floppy-disk">
                    </button>
                    <button id="cancel_service_{{$index}}" type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default save_button">
                        <span class="glyphicon glyphicon-remove">
                    </button>
                </form>

                <div class="buttons" ng-show="!rowform.$visible">
                    <button id="edit_service_{{$index}}" class="btn btn-default edit_button"
                            ng-click="showRowForm(rowform)">
                        <span class="glyphicon glyphicon-edit"/>
                    </button>
                    <button id="remove_service_{{$index}}" class="btn btn-default delete_button"
                            ng-click="removeService($index)">
                        <span class="glyphicon glyphicon-trash"/>
                    </button>
                </div>
            </div>

        </div>

        <div class="row" style="padding-top:10px">
            <div class="col-xs-12 section_content" >
                <div e-class="form-control" editable-text="service.description[language]"
                     e-id="description_{{$index}}" e-form="rowform" e-required>
                    <div ng-init="moreShown = false; limit = 100">
                        {{service.description[language] | cut:true:limit:'...'}}
                        <a ng-show="service.description[language].length > limit"
                          href ng-click="showService(service); moreShown = true; limit=service.description[language].length;">  More
                        </a>
                        <a ng-show="moreShown" ng-click="moreShown = false; limit=150"> Less </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-offset-6 col-xs-2 section_content">
            <p>
                <strong>Total</strong>
            </p>
        </div>

        <div class="col-xs-2 section_content">
            <p>
                <strong>{{ getTotal() |currency }}</strong>
            </p>
        </div>

    </div>

</div>