<table class="table table-striped table-bordered">
    <thead>
    <th><b>Name</b></th>
    <th><b>Date</b></th>
    <th><b>Language</b></th>
    </thead>
        <tr ng-repeat="template in quoteTemplates" style="cursor: pointer" class="template_row">
            <td ng-click="goToUrl(template)">{{ (quotes | filter:{id: template.quote})[0].name }}</td>
            <td ng-click="goToUrl(template)">{{ (quotes | filter:{id: template.quote})[0].modified | date:'y-M-d h:m'  }}</td>
            <td>
                <select ng-if="template.language_list" class="template_lang form-control" name="language" ng-change="languageSelection(template, lang)" ng-model="lang">
                        <option ng-repeat="lang in template.language_list" value="{{ lang[0] }}">{{ lang[1] }}</option>
                </select>
            </td>
        </tr>
        <tr ng-if="quote.length == 0">
            <td colspan="4">
                No templates yet, <a href="{% url "add_quote_template" %}">click here to add one.</a>
            </td>
        </tr>
</table>