<table class="table table-striped table-bordered">
    <thead>
    <th><b>Last Modified</b></th>
    <th><b>Client</b></th>
    <th><b>Quote</b></th>
    <th><b>Status</b></th>
    </thead>
    
    <tr ng-repeat="quote in quotes" style="cursor: pointer" class="quote_row" ng-click="goToUrl(quote)">
        <td>{{ quote.modified|date:'y-M-d h:m' }}</td>
        <td>{{ (clients | filter:{id: quote.client})[0].name }}</td>
        <td>{{ quote.name }}</td>
        <td>{{ quoteStatus[quote.status].text  }}</td>
    </tr>
    <tr ng-if="quotes.length == 0">
        <td colspan="4">
            No quotes yet.
        </td>
    </tr>
</table>