<div class="col-lg-4">
    <div class="column-title">
        {{ title }}
    </div>

    <div data-as-sortable="dragControlListeners" data-ng-model="items" style="min-height: 100px;">
        <div class="kanban-card" data-ng-repeat="item in items"
             data-as-sortable-item>
            <div data-as-sortable-item-handle>
                <div class="row">
                    <div class="col-lg-9">
                        <p>
                            {{ item.name }}
                        </p>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <p>
                            Contact:
                        </p>
                    </div>
                    <div class="col-lg-7">
                        <p>
                            01/01/2016
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
