{% load i18n %}

<form class="mt" action="" method="post">
    {% csrf_token %}
    <div class="form-group mb-0">
        {{ form.as_div }}
        {% if form.is_bound and not form.is_valid %}
            <div class="form-group has-error">
                <span class="help-block">{{ form.text.errors.as_text }}</span>
            </div>
        {% endif %}
    </div>
    <div class="btn-toolbar">
        <button type="submit" class="btn btn-default btn-sm pull-right">{% trans "Add Note" %}</button>
    </div>
</form>
