{% extends "gallant/create_form.html" %}
{% load bootstrap django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Clients' 'client_list' object.id %}
    {% breadcrumb object.name 'client_detail' object.id %}
    {% breadcrumb 'Edit' 'edit_client' object.id %}
{% endblock %}


{% block form_body %}
    {% for field in form %}
        {% if field.name != 'notes' %}{{ field|bootstrap }}{% endif %}
    {% endfor %}
    <hr>
    {{ contact_form|bootstrap }}
    <hr>
    {{ form.notes|bootstrap }}
{% endblock %}
