{% extends "../templates/gallant/client_detail.html" %}
{% load bootstrap i18n gallant_tags staticfiles %}

{% block section_title %}
    {% trans "Client Work" %}
{% endblock %}

{% block center_content %}

    {% block client_detail %}
        {{ block.super }}
    {% endblock %}

    {% block main_client_data %}
        <div class="projects">
            <h2 class="section_title">
                {% trans 'Projects' %}
                <span class="pull-right glyphicon glyphicon-question-sign help-tooltip" uib-tooltip="Shows project list with status summary of all services from each project according to status." tooltip-placement="top-right"></span>
            </h2>
            {% if projects|length > 0 %}
                {% for project in projects %}
                    {% include "gallant/project.html" %}
                {% endfor %}
            {% else %}
                <div class="project enclosed">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                {% trans "This client has no active projects." %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}

    {% block client_alerts %}
        {{ block.super }}
    {% endblock %}

    {% block client_notes %}
    {% endblock %}

{% endblock %}