{% extends "../templates/gallant/client_detail.html" %}
{% load bootstrap i18n gallant_tags staticfiles static djng_tags %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "djng/js/django-angular.js" %}"></script>
    <script src="{% static "gallant/js/services/glServices.js" %}"></script>
    <script src="{% static "gallant/js/apps/glClientPayments.js" %}"></script>
    <script src="{% static "gallant/js/directives/glPayments.js" %}"></script>
    <script src="{% static "gallant/js/controllers/glClientPaymentController.js" %}"></script>
{% endblock %}

{% block section_title %}
    {% trans "Client Money" %}
{% endblock %}

{% block center_content %}

    {% block client_detail %}
        {{ block.super }}
    {% endblock %}

    {% block main_client_data %}
        <div class="projects enclosed" ng-controller="glClientPaymentController" client_id="{{ object.id }}">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                    <h2 class="section_title">{% trans 'Payments' %}</h2>
                    <br/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 action_box">
                    <button id="section_edit" type="button" class="btn btn-default edit_button" aria-label="Edit" ng-click="openEditModal()">
                        <span class="glyphicon glyphicon-plus-sign"/>
                    </button>
                </div>
            </div>
            <div gl-payments  client_id="{{ object.id }}" open-edit-modal="openEditModal">
            </div>
        </div>

    {% endblock %}

    {% block client_alerts %}
        {{ block.super }}
    {% endblock %}

    {% block client_notes %}
    {% endblock %}

{% endblock %}

{% block extra_body %}
{% endblock %}