{% extends "../templates/gallant/client_detail.html" %}
{% load bootstrap i18n gallant_tags staticfiles %}

{% block page_title %}
    {% trans "Client Work" %} - <span class="fw-semi-bold">Projects</span>
{% endblock %}

{% block content %}

    {% block client_detail %}
    {% endblock %}

    {% block main_client_data %}
        <div class="row">
            {% if projects|length > 0 %}
                {% for project in projects %}
                    <div class="col-lg-4">
                        {% include "gallant/project.html" %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="project enclosed">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                {% trans "This client has no active projects." %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}

    {% block client_alerts %}
        {{ block.super }}
    {% endblock %}

    {% block client_notes %}
    {% endblock %}

{% endblock %}