{% extends "base_sidebar_enclosed.html" %}
{% load bootstrap i18n gallant_tags staticfiles %}

{% block section_title %}
    {% trans "Client" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/chart.min.js" %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/chart.css" %}">
{% endblock %}

{% block sidebar %}

    <a href="{% url 'briefs' %}?client_id={{ object.id }}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Client Briefs" %}
        </button>
    </a>

    <a>
        <button type="button" class="btn btn-default sidebar" id="add_brief">
            {% trans "New Brief..." %}
        </button>
    </a>

{% endblock %}

{% block tabs %}

    <ul id="tabs" class="nav nav-tabs" style="margin-bottom: -1px;">
        <li>
            {% url 'client_detail' object.id as client_detail %}
            <a href="{{ client_detail }}" class="{% active request client_detail %}">
                Overview
            </a>
        </li>
        <li>
            {% url 'client_work_detail' object.id as client_work_detail %}
            <a href="{{ client_work_detail }}" class="{% active request client_work_detail %}">
                Work
            </a>
        </li>
        <li>
            {% url 'client_money_detail' object.id as client_money_detail %}
            <a href="{{ client_money_detail }}" class="{% active request client_money_detail %}">
                Money
            </a>
        </li>
    </ul>

{% endblock %}

{% block center_content %}

    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
            <h2 class="section_title">{{ object.name }}</h2>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 action_box">
            <a href="{% url 'edit_client' object.id %}" class="edit_button" title="{% trans "Edit" %}">
                <button id="section_edit" type="button" class="btn btn-default edit_button" aria-label="Edit">
                    <span class="glyphicon glyphicon-edit"/>
                </button>
            </a>
            <a href="{% url 'delete_client' object.id %}" class="delete_button" title="{% trans "Delete" %}" onclick="return confirm('{% trans "Are you sure?" %}')"> 
                <button id="section_delete" type="button" class="btn btn-default delete_button" aria-label="Delete"> 
                    <span class="glyphicon glyphicon-trash"/> 
                </button>
            </a> 

        </div>
    </div>

    <div class="row object_data">
        <div class="col-lg-6">
            <p><span class="label label-default">{{ object.get_status_display }}</span></p>
            <br>

            {% if object.get_type_display %}
                <p><span class="detail_title">{% trans "Type" %}:</span> {{ object.get_type_display }}</p>
            {% endif %}

            {% if object.get_size_display %}
                <p><span class="detail_title">{% trans "Size" %}:</span> {{ object.get_size_display }}</p>
                <br/>
            {% endif %}

            <p><span class="detail_title">{% trans "Language" %}:</span> {{ object.get_language_display }}</p>

            <p><span class="detail_title">{% trans "Currency" %}:</span> {{ object.currency }}</p>
            <br/>

        </div>
        <div class="col-lg-6">

            <p><span class="detail_title">{% trans "Email" %}:</span> {{ object.email }}</p>
            {% with object.contact_info as object %}
                {% include 'gallant/contact_info.html' %}
            {% endwith %}

        </div>

    </div>

    <br/>

    <div class="row">
        <div class="col-lg-6">
            <div class="enclosed chart_box">
                <h2 class="chart_title">{% trans 'Work Summary' %}</h2>

                <div class="chart">
                    <canvas id="work_chart"></canvas>
                </div>

                <div class="chart_labels" id="work_chart_labels">
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="enclosed chart_box">
                <h2 class="chart_title">{% trans 'Money Summary' %}</h2>

                <div class="chart">
                    <canvas id="money_chart"></canvas>
                </div>

                <div class="chart_labels" id="money_chart_labels">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="enclosed">
                <h2 class="section_title">{% trans 'Alerts' %}</h2>

                <div class="profile_alert row">
                    <div class="col-lg-3">
                        <span class="label label-default">Deliverable past due</span>
                    </div>
                    <div class="col-lg-9">
                        <p>
                            The deliverable 'Logo' was due on October 3rd, 2015.
                        </p>
                    </div>
                </div>

                <div class="profile_alert row">
                    <div class="col-lg-3">
                        <span class="label label-default">Upcoming deliverable</span>
                    </div>
                    <div class="col-lg-9">
                        <p>
                            Deliverable 'Name' is due tomorrow.
                        </p>
                    </div>
                </div>

                <div class="profile_alert row">
                    <div class="col-lg-3">
                        <span class="label label-default">Payment due</span>
                    </div>
                    <div class="col-lg-9">
                        <p>
                            The payment for $1,000 was due last month.
                        </p>
                    </div>
                </div>

                <div class="profile_alert row">
                    <div class="col-lg-3">
                        <span class="label label-default">Last contact date</span>
                    </div>
                    <div class="col-lg-9">
                        <p>
                            {{ object }} was last contacted on September 16th, 2015.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="notes" class="enclosed">
        <h2 class="section_title">Notes</h2>

        {% objects_for object.notes as notes %}
        {% for item in notes %}
            {% include "gallant/note.html" %}
        {% endfor %}
        <div>
            <p>
                <i>{% trans "Notes are not accessible to the client." %}</i>
            </p>
            {% include "gallant/add_note.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <div id="add_button_popover" class="popover" style="display: none">
        <a class="from_template_button">
            <button type="button" class="btn btn-default from_template_button sidebar">From Template</button>
        </a>
        <a href="{% url 'add_brief' %}?client_id={{ object.id }}">
            <button type="button" class="btn btn-default from_scratch_button sidebar">From Scratch</button>
        </a>
    </div>
    <div id="template_select" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="section_title">Select Template</h2>
                </div>
                <div class="modal-body" style="height: 500px; overflow: auto;">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <th><b>{% trans "Name" %}</b></th>
                        <th><b>{% trans "Date" %}</b></th>
                        <th><b>{% trans "Language" %}</b></th>
                        </thead>
                        {% for template in template_list %}
                            <tr data-rel="{{ template.id }}" style="cursor: pointer" class="template_row">
                                <td>{{ template.brief.name }}</td>
                                <td>{{ template.brief.modified|date:'Y-m-d H:i' }}</td>
                                <td>
                                    {% if template.language_list %}
                                        <select class="template_lang form-control" name="language">
                                            {% for code, language in template.language_list %}
                                                <option value="{{ code }}">{{ language }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">
                                    No templates yet,
                                    <a href="{% url "add_brief_template" %}">click here to add one.</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>
    <script>
        $('#add_brief').popover({
            html: true,
            container: 'body',
            content: $('#add_button_popover').html(),
            title: false,
            placement: "bottom"
        }).click(function () {
            $('body').on('click', '.popover-content > button.from_template_button', function () {
                $('#add_brief').popover('hide');
                $('#template_select').modal('show');
            });
            $('body').on('click', '.popover-content > a.from_template_button', function () {
                $('#add_brief').popover('hide');
                $('#template_select').modal('show');
            });
        });

        $('.table .template_row').click(function (e) {
            var lang = '{{ LANGUAGE_CODE }}';
            if ($(this).find('select').length) {
                lang = $(this).find('select').val();
            }
            window.location.href = "{% url 'add_brief' %}" + "?template_id=" +
                    $(this).attr('data-rel') + "&lang=" + lang +
                    "&client_id={{ object.id }}";
        });

        $('.table .template_row select').click(function (e) {
            e.stopPropagation();
        });

        $('body').on('click', function (e) {
            var p = $('#add_brief');
            if (!p.is(e.target) && p.has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                p.popover('hide');
            }
        });
    </script>
    <script>

        // TODO: Replace this sample data with real data
        var work_data = [
            {
                value: 300,
                color: "#999999",
                highlight: "#5AFF70",
                label: "Completed"
            },
            {
                value: 50,
                color: "#666666",
                highlight: "#FFC870",
                label: "Delayed"
            },
            {
                value: 100,
                color: "#333333",
                highlight: "#5AD3D1",
                label: "Active"
            },
            {
                value: 10,
                color: "#999999",
                highlight: "#FFC870",
                label: "On Hold"
            }
        ]

        var money_data = [
            {
                value: 100,
                color: "#333333",
                highlight: "#5AFF70",
                label: "Paid"
            },
            {
                value: 20,
                color: "#555555",
                highlight: "#FF5A5E",
                label: "Overdue"
            },
            {
                value: 10,
                color: "#777777",
                highlight: "#FFC870",
                label: "Pending"
            },
            {
                value: 10,
                color: "#999999",
                highlight: "#FFC870",
                label: "On Hold"
            }
        ]

        // Examples based on:
        // http://www.chartjs.org/docs/#doughnut-pie-chart-example-usage
        var work = $("#work_chart").get(0).getContext("2d");
        var work_pie_chart = new Chart(work).Doughnut(work_data, {animateScale: false, animateRotate: true});

        var money = $("#money_chart").get(0).getContext("2d");
        var money_pie_chart = new Chart(money).Doughnut(money_data, {animateRotate: false, animateScale: true});

        work_data.forEach(function (data) {
            $('#work_chart_labels').append('<p>' + data.value + ' ' + data.label + ' deliverables</p>');
        });

        money_data.forEach(function (data) {
            $('#money_chart_labels').append('<p>$' + data.value + ' ' + data.label + '</p>');
        });

        var highestBox = 0;

        $('.chart_box').each(function () {
            if ($(this).height() > highestBox) {
                highestBox = $(this).height() + 60;
            }
        });

        $('.chart_box').each(function () {
            $(this).css({'height': highestBox});
        });


    </script>
{% endblock %}