{% extends "base_sidebar.html" %}
{% load bootstrap i18n static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/smart-table.js" %}"></script>
    <script src="{% static "djangular/js/django-angular.min.js" %}"></script>
    <script src="{% static "gallant/js/services/glServices.js" %}"></script>
    <script src="{% static "gallant/js/controllers/glClientListController.js" %}"></script>
    <script src="{% static "gallant/js/apps/glClientList.js" %}"></script>
    <script src="{% static "djangular/js/django-angular.min.js" %}"></script>

{% endblock %}

{% block section_title %}
    {% trans "Clients" %}
{% endblock %}

{% block sidebar %}

    <a href="{% url 'add_client' %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Add New Client" %}
        </button>
    </a>

{% endblock %}

{% block center_content %}
    <div ng-app="glClientList" ng-controller="glClientListController"
         ng-init="init('{% url 'client_detail' %}')">
        <table st-table="clients" class="table table-striped table-bordered">
            <thead>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Size" %}</th>
            <th>{% trans "Status" %}</th>
            </thead>
            <tbody ng-include src="'{% static "gallant/html/gl_client_rows.html" %}'">
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $('.table > tbody > tr').click(function () {
            window.location.href = "{% url 'client_detail' %}" + $(this).attr('data-rel')
        });
    </script>
{% endblock %}