{% extends "base_sidebar.html" %}
{% load bootstrap i18n static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/smart-table.js" %}"></script>
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>
    <script src="{% static "js/gallant.js" %}"></script>
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>

{% endblock %}

{% block section_title %}
    {% trans "Clients" %}
{% endblock %}

{% block sidebar %}

    <a href="{% url 'add_client' %}">
        <button type="button" class="btn btn-default sidebar">
            {% trans "Add New Client" %}
        </button>
    </a>

{% endblock %}

{% block center_content %}
    <div ng-app="glClientList" ng-controller="glClientListController"
         ng-init="init('{% url 'client_detail' %}')">
        <table st-table="clients" st-safe-src="clientsSafe"
               class="table table-striped table-bordered">
            <thead>
            <tr>
                <th st-sort="name">{% trans "Name" %}</th>
                <th st-sort="money_owed.amount">{% trans "$ Owed" %}</th>
                <th colspan="2" st-sort="last_contacted">{% trans "Last Contacted" %}</th>
                <th st-sort="status">{% trans "Status" %}</th>
            </tr>

            <tr>
                <th>
                    <input type="text" placeholder="Search Client Name" st-search="name" class="form-control medium-text" />
                </th>
                <th></th>
                <th colspan="2"></th>
                <th>
                    <input type="text" placeholder="Search Client Status" st-search="status" class="form-control medium-text" />
                </th>
            </tr>
            </thead>
            <tbody ng-include src="'{% static "gallant/html/gl_client_rows.html" %}'">
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $('.table > tbody > tr').click(function () {
            window.location.href = "{% url 'client_detail' %}" + $(this).attr('data-rel')
        });
    </script>
{% endblock %}