{% extends 'base_body.html' %}
{% load bootstrap i18n static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-resource.js" %}"></script>
    <script src="{% static "js/smart-table.js" %}"></script>
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>
    <script src="{% static "js/gallant.js" %}"></script>
    <script src="{% static "js/ng-sortable.js" %}"></script>
    <script src="{% static "js/kanban.js" %}"></script>
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>

{% endblock %}

{% block section_title %}
    {% trans "Clients" %}
{% endblock %}

{% block content %}
    <div ng-app="glClientList" ng-controller="glClientListController"
         ng-init="init('{% url 'client_detail' %}')">

        <div class="row">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="pull-left">
                            <a href="{% url 'add_client' %}">
                                <button class="btn btn-default btn-add action-button pull-right">
                                    Add Client
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pull-right">
                            <button class="btn btn-default btn-add" id="show_client_list" ng-click="showBoard=false">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </button>
                            <button class="btn btn-default btn-add" id="show_client_board" ng-click="showBoard=true">
                                <span class="glyphicon glyphicon-th"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!showBoard">
                    <div class="col-lg-12">
                        <br/>

                        <table st-table="clients" st-safe-src="clientsSafe"
                               class="table table-striped table-bordered col-lg-12">
                            <thead>
                            <tr>
                                <th colspan="5" class="container">
                                    <div class="row">
                                        <label class="control-label search col-lg-12">Search</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="Search Client Name"
                                                   st-search="name" class="form-control medium-text"/>

                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="Search Client Status"
                                                   st-search="status" class="form-control medium-text"/>

                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th st-sort="name">{% trans "Name" %}</th>
                                <th st-sort="company">{% trans "Company" %}</th>
                                <th st-sort="money_owed.amount">{% trans "$ Owed" %}</th>
                                <th st-sort="status">{% trans "Status" %}</th>
                            </tr>
                            </thead>
                            <tbody ng-include src="'{% static "gallant/html/gl_client_rows.html" %}'">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-show="showBoard">
                    <div class="container kanban">
                        <div class="row row-eq-height">
                            <div kb-board-column title="Not Quoted Yet" items="clientsSafe"></div>
                            <div kb-board-column title="Quoted"></div>
                            <div kb-board-column title="Project Underway"></div>
                            <div kb-board-column title="Pending Payment"></div>
                            <div kb-board-column title="Closed"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $('.table > tbody > tr').click(function () {
            window.location.href = "{% url 'client_detail' %}" + $(this).attr('data-rel')
        });
    </script>
{% endblock %}