{% extends "base.html" %}
{% load bootstrap i18n %}

{% block content %}
    <h3>Client</h3>
    <p><b>Name:</b> {{ object.name }}</p>
    <p><b>Status:</b> {{ object.get_status_display }}</p>
    <p><b>Type:</b> {{ object.get_type_display }}</p>
    <p><b>Size:</b> {{ object.get_size_display }}</p>
    <br>
    <p><b>Language:</b> {{ object.get_language_display }}</p>
    <p><b>Currency:</b> {{ object.currency }}</p>

    <hr>
    <div>
    {% for item in object.notes.all %}
        {% include "gallant/note.html" %}
    {% endfor %}
    </div>
{% endblock %}