{% extends "base_sidebar.html" %}
{% load bootstrap i18n %}

{% block section_title %}
    {{ title }}
{% endblock %}

{% block center_content %}
    <form id="form" class="form" method="post">
        {% csrf_token %}
        {% block pre_form %}{% endblock %}
        {{ form|bootstrap }}
        {% block post_form %}{% endblock %}

        <table id="form_actions" width="500">
            <tr>
                {% block form_actions %}
                <td><div class="form-actions">
                    <button id="create_submit" class="btn btn-default" type="submit">{% trans "Save" %}</button>
                </div></td>
                {% endblock %}
            </tr>
        </table>
    </form>
{% endblock %}