{% extends "base_sidebar.html" %}
{% load bootstrap i18n %}

{% block section_title %}
    {{ title }}
{% endblock %}

{% block center_content %}

    <form class="login form" method="post">

        <p class="title">
            <i>
                {% trans "Fill the information below to request an account. <br/>We will contact you once your account is authorized." %}
            </i>
        </p>

        {% csrf_token %}
        {% block pre_form %}{% endblock %}
        {% block form_body %}
            {{ form|bootstrap }}
        {% endblock %}
        {% block post_form %}{% endblock %}

        <div id="form_actions">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-actions">
                        {% block form_actions %}
                            <button id="create_submit" class="btn btn-default pull-left" type="submit">
                                {{ submit_text|default:_("Save") }}
                            </button>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}