{% extends "gallant/create_form.html" %}
{% load bootstrap i18n %}

{% block extra_body %}
    {{ block.super }}
    <script>
        var currentLanguage = '{{ LANGUAGE_CODE }}';
        var setLanguage = function (language) {
            if (language == '') {
                alert('Attempted to set language to none.');
                return;
            }
            $('.ultext').each(function () {
                var data = {};
                var ref = $('#' + this.getAttribute('for'));
                try {
                    data = JSON.parse(this.value);
                } catch (e) {
                }
                if (language != currentLanguage) {
                    // Commented following line as it was causing language form to be cleared. Will keep here to see if it is needed elsewhere
                    //data[currentLanguage] = ref.val();
                    this.value = JSON.stringify(data);
                }
                if (language in data) {
                    ref.val(data[language]);
                } else {
                    ref.val('');
                }
                // form serialize only saves elements with name attribute, so save .ultext targets
                // for comparison when user leaves page
                $(ref).data('val', $(ref).val())
            });

            $('.ultext_array').each(function () {
                var data_array = [];
                var targets = $('#' + this.getAttribute('for')).find('.ultext_array_target');

                try {
                    data_array = JSON.parse(this.value);
                } catch (e) {
                }

                for (var i = 0; i < data_array.length; i++) {
                    if (language != currentLanguage) {
                        data_array[i][currentLanguage] = $(targets[i]).val();
                    }
                    if (language in data_array[i]) {
                        $(targets[i]).val(data_array[i][language]);
                    } else {
                        $(targets[i]).val('');
                    }

                    // form serialize only saves elements with name attribute, so save targets
                    // for comparison when user leaves page
                    $(targets[i]).data('val', $(targets[i]).val())
                }

                this.value = JSON.stringify(data_array);
            });

            currentLanguage = language;
        };

        $(document).ready(function () {
            setLanguage('{{ language|default:LANGUAGE_CODE }}');
            // Save form contents for onbeforeunload
            $('.form').each(function () {
                $(this).data('serialize', $(this).serialize());
            });
        });
    </script>

    {% block create_submit_event %}
        <script>
            $('#create_submit, #preview').on('click', function (e) {

                // This sends the preview to a new window.
                if ($(this).is("#preview")) {
                    $('.form').attr('target', '_blank');
                } else {
                    $('.form').attr('target', '');
                }

                $('.ultext').each(function () {
                    var data = {};
                    try {
                        data = JSON.parse(this.value);
                    } catch (e) {
                    }
                    data[currentLanguage] = $('#' + this.getAttribute('for')).val();
                    this.value = JSON.stringify(data);
                });

                $('.ultext_array').each(function () {
                    var data_array = [];
                    var targets = $('#' + this.getAttribute('for')).find('.ultext_array_target');
                    try {
                        data_array = JSON.parse(this.value);
                    } catch (e) {
                    }
                    for (var i = 0; i < data_array.length; i++) {
                        data_array[i][currentLanguage] = $(targets[i]).val();
                    }
                    for (var i = data_array.length; i < targets.length; i++) {
                        var obj = {};
                        obj[currentLanguage] = $(targets[i]).val();
                        console.log(obj);
                        data_array.push(obj);
                    }

                    this.value = JSON.stringify(data_array);
                });
            });
        </script>
    {% endblock %}
{% endblock %}

