{% load i18n gallant_tags %}
<div class="project enclosed">
    <div class="row">

        <div class="col-lg-6">
            <p>
                <a href="{% url 'project_detail' project.id %}">
                    {{ project }}
                </a>
            </p>
            <br>
            <div class="chart">
                <canvas id="project_chart_{{ project.id }}"></canvas>
            </div>

        </div>

        <div class="col-lg-6 profile_alert">
            <p>
                Deliverables:
            </p>
            <p>
                {% get_project_services_count request project 0 %} On hold
            </p>
            <p>
                {% get_project_services_count request project 1 %} Unassigned
            </p>
            <p>
                {% get_project_services_count request project 2 %} Active
            </p>
            <p>
                {% get_project_services_count request project 3 %} Overdue
            </p>
            <p>
                {% get_project_services_count request project 4 %} Completed
            </p>
        </div>

    </div>
</div>

<script>

    var project_work_data_{{ project.id }} = [
        {
            value: {% get_project_services_count request project 0 %},
            color: "#d9ff03",
            highlight: "#f3ffb1",
            label: "On Hold"
        },
        {
            value: {% get_project_services_count request project 1 %},
            color: '#ffa861',
            highlight: '#ff7300',
            label: "Pending"
        },
        {
            value: {% get_project_services_count request project 2 %},
            color: "#93f1ff",
            highlight: "#00a6ff",
            label: "Active"
        },
        {
            value: {% get_project_services_count request project 3 %},
            color: "#ff0054",
            highlight: "#FF5A5E",
            label: "Overdue"
        },
        {
            value: {% get_project_services_count request project 4 %},
            color: '#b2ffaf',
            highlight: '#00ff5f',
            label: "Completed"
        }
    ]

    var project_work_{{ project.id }} = $("#project_chart_{{ project.id }}").get(0).getContext("2d");
    var project_work_chart_{{ project.id }} = new Chart(project_work_{{ project.id }}).Doughnut(project_work_data_{{ project.id }}, {
        animateRotate: true,
        animateScale: false,
        percentageInnerCutout: 70,
        segmentStrokeWidth: 5
    });

</script>