{% extends "base_body.html" %}
{% load bootstrap i18n gallant_tags static %}

{% block page_title %}
    {% trans "Project" %} - <span class="fw-semi-bold">Dashboard</span>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "djng/js/django-angular.min.js" %}"></script>
    <script src="{% static "js/ng-sortable.js" %}"></script>
    <script src="{% static "js/angular-animate.js" %}"></script>
{% endblock %}

{% block project_scripts %}
    {{ block.super }}
    {% if DEBUG %}
        <script src="{% static "js/quotes.js" %}"></script>
        <script src="{% static "js/kanban.js" %}"></script>
    {% endif %}
{% endblock %}

{% block project_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static "css/ng-sortable.style.min.css" %}">
    <link rel="stylesheet" href="{% static "css/ng-sortable.min.css" %}">

{% endblock %}

{% block extra_wrapper_attrs %} ng-app="glProjectDetail" {% endblock %}

{% block content %}
    <div gl-alerts></div>

    <div ng-controller="glProjectDetailController" ng-init="init('{% url 'service_detail' object.id %}', {{ object.id }})">

        <div class="row">
            <div class="col-md-12">
                {% block main_client_data %}
                    <section class="widget">
                        <div class="widget-body">
                            <div class="widget-top-overflow text-white">
                                <div class="height-100 overflow-hidden">
                                    <img class="img-responsive" src="{% static "img/galant/background.jpg" %}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 text-center">
                                    <div class="post-user post-user-profile">
                                        <h4 class="fw-normal">{{ object.name }}</h4>
                                        <span class="label label-danger"> {{ object.get_status_display }} </span>

                                        {% if object.client %}
                                            <ul class="contacts">
                                                <li>
                                                    <i class="fa fa-building fa-fw mr-xs"></i><a href="{% url 'client_detail' object.client.id %}"> {{ object.client.name }}</a>
                                                </li>
                                            </ul>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="col-sm-7">

                                    <div gl-add-modal open-fn="editProject" title="Edit Project" modal-instance="modalInstance">
                                        <div gl-project-add on-success="projectSaved" project="projectSafe" language="{% firstof language LANGUAGE_CODE %}"></div>
                                    </div>

                                    <div class="stats-row stats-row-profile mt text-right">
                                        <div class="stat-item">
                                            <p class="value">{% get_project_services_count request object  %}</p>
                                            <h5 class="name">Deliverables</h5>
                                        </div>
                                        <div class="stat-item">
                                            <p class="value">{% get_project_advance request object %}</p>
                                            <h5 class="name">Advance</h5>
                                        </div>
                                    </div>
                                    <p class="text-right mt-lg">
                                        <button id="section_edit" type="button" class="btn btn-warning btn-sm mt" aria-label="Edit"
                                                ng-click="editProjectSafe()">
                                            &nbsp;Edit
                                            &nbsp;&nbsp;<i class="glyphicon glyphicon-edit"/></i>&nbsp;
                                        </button>
                                        <a href="{% url 'delete_project' object.id %}" class="delete_button" title="{% trans "Delete" %}" onclick="return confirm('{% trans "Are you sure? This will also delete all links between the project and its linked quotes." %}')"> 
                                            <button id="section_delete" type="button" class="btn btn-danger btn-sm mt" aria-label="Delete"> 
                                                &nbsp;Delete
                                                &nbsp;&nbsp;<i class="glyphicon glyphicon-trash"/></i>&nbsp;
                                            </button>
                                        </a> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <span gl-client-work-chart client-id="{{ object.id }}" add-brief-url='{% url 'add_brief' %}' language='{% firstof language LANGUAGE_CODE %}'>
                    </span>
                    <span gl-client-money-chart client-id="{{ object.id }}" add-quote-url='{% url 'add_quote' %}' language='{% firstof language LANGUAGE_CODE %}'>
                    </span>
                {% endblock %}
            </div>
        </div>

        <h2 class="section_title">Deliverables</h2>
        <br/>
        <div ng-include src="'{% static "gallant/html/gl_service_board.html" %}'">
        </div>

    </div>

    <div>


        {% if brief in briefs %}

            <hr>
            <div id="briefs">
                <h2 class="section_title">
                    {% trans "Project Briefs" %}
                </h2>

                <hr>

                {% objects_for object.quote.brief_set as briefs %}
                {% for brief in briefs %}
                    <div class="brief_link">
                        <a href="{% url 'brief_detail' brief.id %}?project_id={{ object.id }}">{{ brief }} </a>&mdash;
                        {{ brief.modified|date:'Y-m-d H:i' }}
                    </div>
                {% endfor %}
            </div>
            <hr>

        {% endif %}

        <div id="notes">

            <h2 class="section_title">
                {% trans "Project Notes" %}
            </h2>

            <hr>

            {% objects_for object.notes as notes %}
            {% for item in notes %}
                {% include "gallant/note.html" %}
            {% endfor %}
            <div>
                {% include "gallant/add_note.html" %}
            </div>
        </div>
    </div>
{% endblock %}