{% extends "base_sidebar_enclosed.html" %}
{% load bootstrap i18n gallant_tags %}

{% block section_title %}
    {% trans "Project" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block center_content %}
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
            <h2 class="section_title">{{ object.name }}</h2>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 action_box">
            <a href="{% url 'edit_project' object.id %}" class="edit_button" id="edit_project" title="{% trans "Edit" %}">
                <button id="section_edit" type="button" class="btn btn-default edit_button" aria-label="Edit">
                    <span class="glyphicon glyphicon-edit"/>
                </button>
            </a>
            <a href="{% url 'delete_project' object.id %}" class="delete_button" title="{% trans "Delete" %}" onclick="return confirm('{% trans "Are you sure?" %}')"> 
                <button id="section_delete" type="button" class="btn btn-default delete_button" aria-label="Delete"> 
                    <span class="glyphicon glyphicon-trash"/> 
                </button>
            </a> 
        </div>
    </div>


    <div class="row object_data">
        <div class="col-lg-6">
            <p><span class="label label-default">{{ object.get_status_display }}</span></p>
            <br>
        </div>
        <div class="col-lg-6">
        </div>

    </div>

    <hr>

    <h4>Deliverables</h4>
    <hr>
    {% for service in services %}
        <div id="{{ section.name }}">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="{% url 'service_detail' object.id service.id %}">
                            <h2 class="section_subtitle service_name">
                                {{ service.name.get_text }}
                            </h2>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <p>
                            Type:
                        </p>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                        <p class="service_type">
                            {{ service.get_type_display }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <p>
                            Description:
                        </p>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                        <p class="service_description">
                            {{ service.description.get_text|linebreaks }}
                        </p>
                    </div>
                </div>

                <div class="row service_notes">
                    <div class="col-lg-10 col-lg-offset-2">
                        <hr>
                        <p>{% trans "Deliverable Notes" %}:</p>
                        <hr>
                    </div>
                </div>
                <div class="row service_notes">
                    <div class="col-lg-10 col-lg-offset-2">
                        {% objects_for service.notes as notes %}
                        {% for item in notes %}
                            {% include "gallant/note.html" %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}

    {% if brief in briefs %}

        <hr>
        <div id="briefs">
            <h2 class="section_title">
                {% trans "Project Briefs" %}
            </h2>

            <hr>

            {% objects_for object.quote.brief_set as briefs %}
            {% for brief in briefs %}
                <div class="brief_link">
                    <a href="{% url 'brief_detail' brief.id %}?project_id={{ object.id }}">{{ brief }} </a>&mdash;
                    {{ brief.modified|date:'Y-m-d H:i' }}
                </div>
            {% endfor %}
        </div>
        <hr>

    {% endif %}

    <div id="notes">

        <h2 class="section_title">
            {% trans "Project Notes" %}
        </h2>

        <hr>

        {% objects_for object.notes as notes %}
        {% for item in notes %}
            {% include "gallant/note.html" %}
        {% endfor %}
        <div>
            {% include "gallant/add_note.html" %}
        </div>
    </div>
{% endblock %}