{% load i18n gallant_tags %}
<div class="project enclosed">
    <div class="row">

        <div class="col-lg-6">
            <p>
                <a href="{% url 'project_detail' project.id %}">
                    {{ project }}
                </a>
            </p>
            <br>
            <div class="chart">
                <canvas id="project_chart_{{ project.id }}"></canvas>
            </div>

        </div>

        <div class="col-lg-6">
            <p>
                Deliverables:
            </p>
            <p>
                {% get_project_services_count request project 0 %} On hold
            </p>
            <p>
                {% get_project_services_count request project 1 %} Unassigned
            </p>
            <p>
                {% get_project_services_count request project 2 %} Active
            </p>
            <p>
                {% get_project_services_count request project 3 %} Overdue
            </p>
            <p>
                {% get_project_services_count request project 4 %} Completed
            </p>
        </div>

    </div>
</div>

<script>

    var project_work_data_{{ project.id }} = [
        {
            value: {% get_project_services_count request project 0 %},
            color: "#999999",
            highlight: "#5AFF70",
            label: "On Hold"
        },
        {
            value: {% get_project_services_count request project 1 %},
            color: "#666666",
            highlight: "#FFC870",
            label: "Unassigned"
        },
        {
            value: {% get_project_services_count request project 2 %},
            color: "#333333",
            highlight: "#5AD3D1",
            label: "Active"
        },
        {
            value: {% get_project_services_count request project 3 %},
            color: "#999999",
            highlight: "#FFC870",
            label: "Overdue"
        },
        {
            value: {% get_project_services_count request project 4 %},
            color: "#999999",
            highlight: "#FFC870",
            label: "Completed"
        }
    ]

    var project_work_{{ project.id }} = $("#project_chart_{{ project.id }}").get(0).getContext("2d");
    var project_work_chart_{{ project.id }} = new Chart(project_work_{{ project.id }}).Doughnut(project_work_data_{{ project.id }}, {
        animateRotate: true,
        animateScale: false
    });

</script>