{% extends "base_body.html" %}
{% load bootstrap i18n gallant_tags %}

{% block section_title %}
    {% trans "Project Service" %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
            <h2 class="section_title">{{ object.name.get_text }}</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 action_box">
            <a href="{% url 'edit_service' project.id object.id %}" class="edit_button" title="{% trans "Edit" %}">
                <button id="section_edit" type="button" class="btn btn-default edit_button" aria-label="Edit">
                    <span class="glyphicon glyphicon-edit"/>
                </button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p><span class="detail_title">{% trans "Type" %}:</span> {{ object.get_type_display }}</p>
            <p class="service_description"><span class="detail_title">{% trans "Description" %}:</span> {{ object.description.get_text|linebreaks }}</p>
            <p><span class="detail_title">{% trans "Cost" %}:</span> {{ object.cost }}</p>
            <p><span class="detail_title">{% trans "Quantity" %}:</span> {{ object.quantity }}</p>
            <br/>
        </div>
    </div>

    <hr>
    <div id="notes">
        <h2 class="section_title">
            {% trans "Project Service Notes" %}
        </h2>
        {% objects_for object.notes as notes %}
        {% for item in notes %}
            {% include "gallant/note.html" %}
        {% endfor %}
        <div>
            {% include "gallant/add_note.html" %}
        </div>
    </div>
{% endblock %}