{% extends "base_body.html" %}
{% load bootstrap i18n gallant_tags staticfiles %}

{% block page_title %}
    Deliverable - <span class="fw-semi-bold">{{ project }}</span>
{% endblock %}

{% block content %}

    <section class="widget">
        <div class="widget-body">
            <div class="widget-top-overflow text-white">
                <div class="height-100 overflow-hidden">
                    <img class="img-responsive" src="{% static "img/galant/background.jpg" %}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="post-user post-user-profile">
                        <h4 class="fw-normal">{{ object.name.get_text }}</h4>
                        <span class="label label-danger"> {{ object.get_status_display }} </span>
                        <br/>
                        <br/>
                        <p>
                            {{ object.description.get_text|linebreaks }}
                        </p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="stats-row stats-row-profile mt text-right">
                        <div class="stat-item">
                            <p class="value">{{ object.cost }}</p>
                            <h5 class="name">{% trans "Cost" %}</h5>
                        </div>
                        <div class="stat-item">
                            <p class="value">{{ object.time }}</p>
                            <h5 class="name">{% trans "Time Estimate" %}</h5>
                        </div>
                        <div class="stat-item">
                            <p class="value">{{ object.get_type_display }}</p>
                            <h5 class="name">{% trans "Type" %}</h5>
                        </div>
                    </div>
                    <p class="text-right mt-lg">
                        <a href="{% url 'edit_service' project.id object.id %}" class="btn btn-warning btn-sm mt" title="{% trans "Edit" %}">
                            &nbsp;Edit
                            &nbsp;&nbsp;<i class="glyphicon glyphicon-edit"/></i>&nbsp;
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="notes">
        <h2>Notes</h2>

        {% objects_for object.notes as notes %}
        {% if notes|length > 0 %}
            {% for item in notes %}
                {% include "gallant/note.html" %}
            {% endfor %}
        {% else %}
            <section class="event">
                <p class="fs-mini">
                    No notes have been added for this client yet.
                </p>
                <footer>
                </footer>
            </section>
        {% endif %}
        {% include "gallant/add_note.html" %}
    </section>

{% endblock %}