{% extends "base.html" %}
{% load bootstrap i18n %}

{% block content %}
    <h3>{% trans "Service" %}</h3>
    <p><b>{% trans "Name" %}:</b> {{ object.name }}</p>
    <p><b>{% trans "Type" %}:</b> {{ object.get_type_display }}</p>
    <p><b>{% trans "Description" %}:</b> {{ object.description }}</p>
    <p><b>{% trans "Cost" %}:</b> {{ object.cost }}</p>
    <p><b>{% trans "Quantity" %}:</b> {{ object.quantity }}</p>
    <br>
    <p><b>{% trans "Type" %}:</b> {{ object.get_language_display }}</p>

    <hr>
    <div id="notes">
    <p><b>{% trans "Notes" %}:</b></p>
    {% for item in object.notes.all %}
        {% include "gallant/note.html" %}
    {% endfor %}
        <div>
            {% include "gallant/add_note.html" %}
        </div>
    </div>
{% endblock %}