div.input-group, div.input-group * {
    width: 100%;
}

form div.input-group {
    margin-bottom: 10px;
}

div.editable-error.help-block.ng-binding {
    clear: left;
    padding-top: 5px;
}

pre.ng-scope.ng-binding.editable {
    border: none;
}

div.as-sortable-item {
    border: none;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

span.editable-wrap.editable-textarea.ng-scope {
    width: 100%;

}

textarea.form-control.autogrow.transition-height.editable-input.ng-valid.ng-touched.ng-not-empty.ng-dirty.ng-valid-parse {
    overflow: hidden;
    word-wrap: break-word;
    resize: horizontal;
    height: 71px;
    width: 100%;
}

.ng-scope.as-sortable-item-handle {
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

pre {
    font-family: inherit;
    line-height: 1.4;
}

.sortable-board select {
    margin-top: 0px;
}

.sortable-board textarea {
    margin-top: 10px;
}

.editable-wrap, .editable-wrap * {
    width: 100%;
}

div.widget-body p {
    font-size: 14px;
    line-height: 1.4;
}

.nav-tabs > li > a {
    cursor: pointer;
}