.action_box .btn {
    margin-bottom: 10px;
    margin-right: 5px;
}

.button-inline {
    margin-right: 10px;
}

td.loading, .col-centered {
    text-align: center;
}

img.table-loading {
    width: 25px;
    margin: auto;
}