div.page-wrapper {
    min-height: 100%;
    height: 100%;
}

.body.chat-sidebar-container header.logo {
    color: transparent;
    background: url(/static/img/galant/galant_sidebar_logo.png) no-repeat center -8px;
}

.body.chat-sidebar-container.nav-collapsed header.logo {
    color: transparent;
    padding-top: 23px;
    padding-bottom: 3px;
    background: url(/static/img/galant/galant_monogram.png) no-repeat 0px -8px;
}

.pointer {
    cursor: pointer;
}

.sidebar-nav > .active > a .icon {
    background-color: #ff0060;
}

.sidebar-nav > .active > a {
    color: #ff0060;
}

@import 'kanban';
@import 'charts';
@import 'modal';
@import 'form';
@import 'profile';
@import 'table';
@import 'landing';
